/*-----------------------------------*\
	BLOCKS COLOR PALETTE
\*-----------------------------------*/
.has-white-background-color {
  background-color: #ffffff;
}

.has-white-color {
  color: #ffffff;
}

.has-light-gray-background-color {
  background-color: #eaeaea;
}

.has-light-gray-color {
  color: #eaeaea;
}

.has-gray-background-color {
  background-color: #9b9b9b;
}

.has-gray-color {
  color: #9b9b9b;
}

.has-dark-gray-background-color {
  background-color: #636363;
}

.has-dark-gray-color {
  color: #636363;
}

.has-black-background-color {
  background-color: #000000;
}

.has-black-color {
  color: #000000;
}

.has-tan-background-color {
  background-color: #ccb49c;
}

.has-tan-color {
  color: #ccb49c;
}

.has-blue-background-color {
  background-color: #2a4d69;
}

.has-blue-color {
  color: #2a4d69;
}

.has-red-background-color {
  background-color: #501516;
}

.has-red-color {
  color: #501516;
}

/*-----------------------------------*\
	MEDIA + TEXT
\*-----------------------------------*/
.wp-block-media-text {
  display: flex;
  flex-wrap: wrap;
  margin: 64px auto;

  &.alignwide {
    max-width: 1024px;
  }

  &.alignfull {
    max-width: 100%;
  }

  & figure {
    order: 1;
  }

  & .wp-block-media-text__content {
    order: 2;
    padding: 0;
  }

  @media(--phone) {
    display: grid;

    & figure,
    & .wp-block-media-text__content {
      order: 0;
    }

    & .wp-block-media-text__content {
      padding: 0 8%;
    }
  }
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.wp-block-column > *:first-child {
  margin-top: 0;
}
