/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/
button,
.button,
.wp-block-button__link {
  display: inline-block;
  padding: var(--Small) var(--Large);
  margin: 0 var(--Medium) 0 0;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  line-height: 1.75;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  outline: none;
  transition: all 0.15s linear;

  &:hover,
  &:focus {
    background-color: var(--Grey);
  }

  &.has-blue-background-color {
    &:hover,
    &:focus {
      background-color: var(--BlueLight);
    }
  }

  &.has-tan-background-color {
    &:hover,
    &:focus {
      background-color: var(--TanDark);
    }
  }

  &.has-red-background-color {
    &:hover,
    &:focus {
      background-color: var(--RedLight);
    }
  }

  &.has-black-background-color {
    &:hover,
    &:focus {
      background-color: var(--Grey);
    }
  }

  &.has-dark-gray-background-color {
    &:hover,
    &:focus {
      background-color: var(--Grey);
    }
  }

  &.has-light-gray-background-color {
    box-shadow: inset 0 0 0 1px transparent;

    &:hover,
    &:focus {
      color: var(--Black);
      background-color: transparent;
      box-shadow: inset 0 0 0 1px var(--GreyDark);
    }
  }
}

button,
.button {
  color: var(--Black);
  background-color: var(--Tan);

  &:hover,
  &:focus {
    color: var(--Black);
    background-color: var(--TanDark);
  }

  &.is-red {
    color: var(--White);
    background-color: var(--Red);

    &:hover,
    &:focus {
      background-color: var(--RedLight);
    }
  }

  &.is-blue {
    color: var(--BlackLight);
    background-color: var(--BlueLight);

    &:hover,
    &:focus {
      color: var(--White);
      background-color: var(--Blue);
    }
  }
}

.wp-block-button {
  margin: 0 auto;

  &.alignleft .wp-block-button__link {
    float: left;
    margin: 0.5em 1em 0.5em 0;
  }

  &.alignright .wp-block-button__link {
    float: right;
    margin: 0.5em 0 0.5em 1em;
  }

  &.aligncenter .wp-block-button__link {
    display: inline-block;
    margin: 1em auto;
  }
}

/*----------------------------------------------------------------*\
		FIREFOX OUTLINE REMOVAL
\*----------------------------------------------------------------*/
button::-moz-focus-inner {
  border: 0;
}
