/*-----------------------------------*\
	EMBED VIDEOS
\*-----------------------------------*/
figure.wp-block-embed-youtube,
figure.wp-block-embed-vimeo {
	margin: 4em auto;
	margin-right: auto;
	margin-left: auto;

	&.alignleft,
	&.alignright,
	&.aligncenter {
		max-width: 800px;
	}

	&.alignwide {
		max-width: 1024px;
	}

	&.alignfull {
		max-width: 100%;
		width: 100%;
	}

	& p {
		margin: 0;
	}
}

/*-----------------------------------*\
	AUDIO
\*-----------------------------------*/
figure.wp-block-embed-soundcloud {
	margin: 4rem auto;
	max-width: 650px;

	&.alignleft,
	&.alignright,
	&.aligncenter {
		max-width: 650px;
		width: 90%;
	}

	&.alignwide {
		max-width: 1024px;
		width: 100%;
	}

	&.alignfull {
		max-width: 100%;
		width: 100%;
	}
}


/*-----------------------------------*\
	TWITTER EMBED
\*-----------------------------------*/
.wp-block-embed-twitter {
	max-width: 650px;

	&.alignleft,
	&.alignright,
	&.aligncenter {
		max-width: 650px;
		width: 90%;
	}

	&.alignwide {
		max-width: 1024px;
	}

	&.alignfull {
		max-width: 100%;
	}

	& .twitter-tweet-rendered {
		margin: 0 auto;
	}
}

/*-----------------------------------*\
	INSTAGRAM EMBED
\*-----------------------------------*/
.wp-block-embed-instagram {
	max-width: 650px;

	&.alignleft,
	&.alignright,
	&.aligncenter,
	&.alignwide,
	&.alignfull {
		max-width: 650px;
		width: 90%;
	}

	& iframe {
		margin: 0 auto !important;
	}
}


/*-----------------------------------*\
	Octane AI
\*-----------------------------------*/
.fb_dialog {
	left: 18pt !important;
}

.fb_reset .fb_dialog {
	left: 18pt !important;
}

.fb_dialog_content>iframe {
	left: 18pt !important;
}

.fb-customerchat>span>iframe {
	left: 9pt !important;
}

iframe.fb_customer_chat_bounce_in_v2 {
	left: 9pt !important;
	animation-name: fb_bounce_in_v2-left !important;
}

iframe.fb_customer_chat_bounce_out_v2 {
	left: 9pt !important;
	animation-name: fb_bounce_out_v2-left !important;
	transform: scale(0, 0);
	opacity: 0;
}

@keyframes fb_bounce_in_v2-left {
	0% {
		transform-origin: bottom left;
		transform: scale(0, 0);
		opacity: 0;
	}

	50% {
		transform-origin: bottom left;
		transform: scale(1.03, 1.03);
	}

	100% {
		transform-origin: bottom left;
		transform: scale(1, 1);
		opacity: 1;
	}
}

@keyframes fb_bounce_out_v2-left {
	0% {
		transform-origin: bottom left;
		transform: scale(1, 1);
		opacity: 1;
	}

	100% {
		transform-origin: bottom left;
		transform: scale(0, 0);
		opacity: 0;
	}
}