/*----------------------------------------------------------------*\
	FORMS
\*----------------------------------------------------------------*/
form {
  position: relative;

  & ul.gform_fields {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;

    & > li {
      position: relative;
      padding: 0;
      margin: 20px 0;
      background-image: none;
    }
  }

  & span.gfield_required {
    display: none;
  }
}

.gform_footer {
  margin-top: 64px;
}

/*---------------------------------------*\
  LABELS
\*---------------------------------------*/
form label {
  display: inline-block;
  margin-bottom: var(--Small);
  font-size: 0.875em;
  color: var(--GreyDark);
  text-transform: capitalize;
}

ul.gform_fields > li:not(.gfield_contains_required) > label:not(.file-upload-label) {
  &::after {
    display: inline-block;
    margin-left: 0.35em;
    font-size: 0.875em;
    text-transform: lowercase;
    content: '(optional)';
  }
}

.gfield_description,
.ginput_counter,
.screen-reader-text {
  font-size: 0.75em;
}

.hidden_label > label {
  display: none;
}

.gform_body input,
.gform_body select,
.gform_body textarea {
  width: 100%;
}

.optional {
  text-transform: lowercase;
}

/*---------------------------------------*\
  INPUTS
\*---------------------------------------*/
input {
  padding: 0.75em;
  font-family: 'Roboto';
  font-size: 1rem;
  color: var(--BlackLight);
  border: 1px solid var(--Grey);
  box-shadow: none;

  &:focus {
    border-color: var(--BlackLight);
  }
}

/*---------------------------------------*\
  TEXTAREA
\*---------------------------------------*/
textarea {
  padding: 0.75em;
  font-family: 'Roboto';
  font-size: 1rem;
  color: var(--BlackLight);
  border: 1px solid var(--Grey);
  box-shadow: none;

  &:focus {
    border-color: var(--BlackLight);
  }

  &.small {
    height: 120px;
  }
}

/*---------------------------------------*\
  SELECT
\*---------------------------------------*/
select {
  padding: 0.75em;
  font-family: 'Roboto';
  font-size: 1rem;
  color: var(--BlackLight);
  background-image: url(../images/select_arrow.svg);
  background-repeat: no-repeat;
  background-position: top 11px right 8px;
  background-size: 24px;
  border: 1px solid var(--Grey);
  box-shadow: none;
  appearance: none;

  &:focus {
    border-color: var(--BlackLight);
  }

  &.has-placeholder {
    color: var(--Grey);
  }
}

/*---------------------------------------*\
  RADIO
\*---------------------------------------*/
ul.gfield_radio {
  padding: 0.5em 0;
  margin: 0;

  & li {
    display: inline-block;
    padding: 0;
    margin: 0 1em 0 0;
    background-image: none;

    & label {
      margin-left: 4px;
      font-size: 1em;
      font-weight: normal;
      color: var(--Grey);
      cursor: pointer;
    }

    & input {
      position: relative;
      width: 16px;
      height: 16px;
      padding: 0.5em;
      vertical-align: top;
      cursor: pointer;
      border: 1px solid var(--Grey);
      border-radius: 50%;
      appearance: none;

      &::before {
        position: absolute;
        top: 3px;
        right: 3px;
        bottom: 3px;
        left: 3px;
        display: block;
        content: '';
        background-color: var(--White);
        border-radius: 50%;
        opacity: 0;
      }

      &:checked {
        border-color: var(--BlackLight);

        &::before {
          background-color: var(--BlackLight);
          opacity: 1;
        }
      }
    }

    & input:checked + label {
      color: var(--BlackLight);
    }
  }
}

/*---------------------------------------*\
  CHECKBOXES
\*---------------------------------------*/
ul.gfield_checkbox {
  padding: 0.5em 0;
  margin: 0;

  & li {
    display: inline-block;
    padding: 0;
    margin: 0 1em 0 0;
    background-image: none;

    & label {
      font-size: 1em;
      font-weight: normal;
      color: var(--Grey);
      cursor: pointer;
    }

    & input {
      position: relative;
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      padding: 0.5em;
      vertical-align: top;
      cursor: pointer;
      border: 1px solid var(--Grey);
      border-radius: 5px;
      appearance: none;

      &::before {
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        display: block;
        content: '';
        background-image: url(../images/checkmark.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0;
      }

      &:checked {
        background-color: var(--BlackLight);
        border-color: var(--BlackLight);

        &::before {
          opacity: 1;
        }
      }
    }

    & input:checked + label {
      color: var(--BlackLight);
    }
  }
}

/*---------------------------------------*\ 
	FILE UPLOAD 
\*---------------------------------------*/

li:not(.gfield_contains_required) > label.file-upload-label {
  position: relative;
  display: inline;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    font-size: 0.875em;
    text-transform: lowercase;
    content: '(optional)';
    transform: translateX(calc(100% + 4px));
  }
}

label.file-upload-label::after {
  display: table;
  padding: var(--Small) var(--Large);
  margin: var(--Small);
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  line-height: 1.75;
  color: var(--White);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  content: 'Upload File';
  background-color: var(--GreyDark);
  border: none;
  appearance: none;
}

label.file-upload-label.file-uploaded::after {
  content: 'Change File';
}

input[type="file"] {
  display: none;
  opacity: 0;

  & + span {
    position: absolute;
    top: 42px;
    left: 185px;
    width: auto;
    height: auto;
    clip: auto;
  }
}

/*---------------------------------------*\
  CONSENT
\*---------------------------------------*/
.ginput_container_consent {
  margin-top: 0.35em;

  & input {
    position: relative;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    padding: 0.5em;
    vertical-align: top;
    cursor: pointer;
    border: 1px solid var(--GreyDark);
    border-radius: 5px;
    appearance: none;

    &::before {
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      display: block;
      content: '';
      background-image: url(../images/checkmark.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      opacity: 0;
    }

    &:checked {
      font-weight: bold;
      background-color: var(--BlackLight);
      border-color: var(--BlackLight);

      &::before {
        opacity: 1;
      }
    }
  }

  & label {
    position: relative;
    top: -1px;
    text-transform: none;
    cursor: pointer;
  }

  & input:checked + label {
    color: var(--BlackLight);
  }

  & .gfield_consent_description {
    margin: var(--Small) 0 var(--Large) 0;
    font-size: 0.75em;
  }
}

/*---------------------------------------*\
  INVALID
\*---------------------------------------*/
li.gfield_error {
  & label {
    color: #e24e46;
  }

  & input,
  & textarea {
    background-image: url(../images/input_error.svg);
    background-repeat: no-repeat;
    background-position: top 13px right 8px;
    background-size: 18px;
    border-color: #e24e46;
  }

  & .validation_message {
    color: #e24e46;
  }
}

/*---------------------------------------*\
  DATE PICKER
\*---------------------------------------*/
.ui-datepicker {
  padding: 8px;
  margin: 8px;
  background-color: var(--GreyLight);

  & a {
    color: var(--Blue);
  }
}

.ui-datepicker-title select {
  padding: var(--xSmall) var(--Medium) var(--xSmall) var(--xSmall);
  margin-right: var(--Medium);
  background-position: top 4px right 0;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  display: none;
}

table.ui-datepicker-calendar {
  margin: var(--xSmall) 0;

  & thead th {
    padding: var(--xSmall) var(--Small);
    text-align: center;
    border: 0;
  }

  & tbody td {
    padding: var(--xSmall) var(--Small);
    text-align: center;
    border: 0;
  }
}
