/*-----------------------------------*\
	IMAGES
\*-----------------------------------*/
.wp-block-image {
	width: 90%;
	max-width: 800px;
	margin: 1em auto;

	&.alignwide {
		max-width: 1024px;
		margin: 4em auto;
	}

	&.alignfull {
		width: 100%;
		max-width: 100%;
		margin: 4em auto;
	}

	& img {
		display: block;
		margin: 0 auto;
		height: auto;
	}
}

.wp-block-image {
	& .alignleft {
		display: block;
		float: none;
		margin-right: auto;
		margin-left: auto;

		@media(--phone) {
			float: left;
			width: auto;
			margin-right: 1em;
		}
	}

	& .alignright {
		display: block;
		float: none;
		margin-right: auto;
		margin-left: auto;

		@media(--phone) {
			float: right;
			width: auto;
			margin-left: 1em;
		}
	}
}

/*-----------------------------------*\
	IMAGE COVERS
\*-----------------------------------*/
.wp-block-cover-image,
.wp-block-cover {
	margin: 4em auto;
	margin-right: auto;
	margin-left: auto;

	&.alignleft,
	&.alignright,
	&.aligncenter {
		max-width: 800px;
	}

	&.alignwide {
		max-width: 1024px;
	}

	&.alignfull {
		width: 100%;
		max-width: 100%;
	}

	& p {
		margin: 0;
		font-family: 'PlayfairDisplay';
		font-size: 32px;
		font-weight: 700;
		color: var(--Black);
	}
}

/*-----------------------------------*\
	GALLERY
\*-----------------------------------*/
ul.wp-block-gallery {
	margin: 4rem auto;

	& li {
		padding: 0;
		background-image: none;
	}

	&.alignleft,
	&.alignright,
	&.aligncenter {
		width: 90%;
		max-width: 800px;
	}

	&.alignwide {
		width: 100%;
		max-width: 1024px;
	}

	&.alignfull {
		width: 100%;
		max-width: 100%;
	}
}