/*-----------------------------------*\
	QUOTES
\*-----------------------------------*/
blockquote,
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  width: 100%;
  max-width: 650px;
  padding: 0 16px;
  margin: 4rem auto;
  font-size: 20px;
  line-height: 1.5;
  border: none;

  @media(--phone) {
    font-size: 24px;
  }

  & p {
    font-size: 20px;

    @media(--phone) {
      font-size: 24px;
    }
  }
}

.wp-block-pullquote,
.wp-block-pullquote:not(.is-style-solid-color) {
  width: 80%;
  max-width: 650px;
  padding: 24px;
  margin: 4rem auto;
  font-size: 20px;
  line-height: 1.5;
  background-color: var(--Tan);
  border: none;

  @media(--phone) {
    padding: 32px;
    font-size: 24px;
  }

  @media(--phone) {
    padding: 48px;
  }

  & p {
    font-size: 20px;

    @media(--phone) {
      font-size: 24px;
    }
  }

  &.alignleft,
  &.alignright,
  &.aligncenter {
    max-width: 650px;
  }

  &.alignwide {
    max-width: 1024px;
  }

  &.alignfull {
    width: 100%;
    max-width: 100%;
    padding: 4rem 2rem;
    border: none;
  }
}

blockquote {
  padding: 0;
  margin: 0 auto;

  & p {
    margin: 0;
    font-family: 'PlayfairDisplay';
    font-size: 20px;

    @media(--phone) {
      font-size: 24px;
    }
  }

  & cite {
    display: block !important;
    margin-top: 1em !important;
    font-size: 14px !important;
    text-align: inherit !important;
  }
}
