table {
	font-size: 18px;
	background: var(--GreyLight);
	border: 1px solid var(--GreyLight);

	table-layout:fixed @media(--phone) {
		font-size: 24px;
	}

	& th {
		font-family: 'PlayfairDisplay';
	}

	& th,
	& td {
		padding: var(--Medium) var(--Small);
		background: var(--White);
		border: 1px solid var(--GreyLight);

		@media(--phone) {
			padding: var(--Medium) 32px;
		}

		& svg {
			width: 32px;
			height: 32px;
		}
	}
}