/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/Roboto-Light.ttf') format('truetype');

	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');

	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');

	font-display: swap;
}

@font-face {
	font-family: 'PlayfairDisplay';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');

	font-display: swap;
}

@font-face {
	font-family: 'PlayfairDisplay';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');

	font-display: swap;
}

/*-----------------------------------*\
	FONT SIZE PALETTE
\*-----------------------------------*/
.has-xs-font-size {
	font-size: 12px;
}

.has-small-font-size {
	font-size: 14px;
}

.has-medium-font-size {
	font-size: 16px;
}

.has-large-font-size {
	font-size: 18px;
}

.has-xl-font-size {
	font-size: 24px;
}

/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.618em;
	margin-bottom: 0.75em;
	font-family: 'PlayfairDisplay';
	font-weight: 700;
	line-height: 1.35;
	color: var(--BlackLight);
}

h1 {
	font-size: 32px;
	line-height: 1.15;

	@media(--phone) {
		font-size: 56px;
	}

	@media(--tablet) {
		font-size: 64px;
	}
}

h2 {
	font-size: 32px;

	@media(--phone) {
		font-size: 40px;
	}
}

h3 {
	font-size: 28px;

	@media(--phone) {
		font-size: 32px;
	}
}

h4 {
	font-size: 20px;

	@media(--phone) {
		font-size: 24px;
	}
}

h5 {
	font-size: 18px;
}

h6 {
	font-family: 'PlayfairDisplay';
	font-size: 18px;
}

/*-----------------------------------*\
	PARAGRAPH
\*-----------------------------------*/
p {
	&.has-drop-cap:not(:focus)::first-letter {
		font-size: 6em;
	}

	& a {
		color: inherit;
		transition: all 0.15s linear;

		&:hover,
		&:focus {
			color: var(--Grey);
		}
	}
}

/*-----------------------------------*\
	LIST
\*-----------------------------------*/
ol,
ul {
	padding: 0 0 0 1em;
	list-style: none;

	@media(--phone) {
		padding: 0 0 0 2em;
	}

	&.has-2-columns {
		column-count: 1;

		@media(--phone) {
			column-count: 2;

			& li {
				padding-right: 1em;
			}
		}
	}

	&.has-3-columns {
		column-count: 1;

		@media(--phone) {
			max-width: 800px;
			padding: 0;
			column-count: 3;

			& li {
				padding-right: 1em;
			}
		}
	}

	&.has-4-columns {
		column-count: 1;

		@media(--phone) {
			column-count: 2;

			& li {
				padding-right: 1em;
			}
		}

		@media(--tablet) {
			max-width: 1024px;
			padding: 0;
			column-count: 4;
		}
	}

	&.page-numbers li {
		background-image: none;
	}

	& li {
		padding-left: 30px;
		margin-bottom: 0.5em;
		background-image: url('../images/bullet.png');
		background-repeat: no-repeat;
		background-position: left top 6px;
		background-size: 16px;
	}

	& a {
		color: inherit;
		transition: all 0.15s linear;

		&:hover,
		&:focus {
			color: var(--Grey);
		}
	}
}

ol {
	counter-reset: listNumbering;

	& li {
		display: flex;
		padding-left: 0;
		counter-increment: listNumbering;
		background-image: none;

		&:before {
			position: relative;
			top: -4px;
			display: inline-block;
			margin-right: 20px;
			font-family: 'Roboto';
			font-size: 20px;
			font-weight: 700;
			content: counter(listNumbering);
		}
	}
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr,
.wp-block-separator {
	margin: 3em auto;
	margin: var(--xLarge) auto;
	clear: both;
	border-color: var(--GreyDark);
	border-width: 2px !important;

	&.is-style-default,
	&:not(.is-style-wide):not(.is-style-dots) {
		width: 80%;
		max-width: 500px;
	}

	&.is-style-wide {
		max-width: 1024px;
		margin: 6em auto;
	}

	&.is-style-dots::before {
		font-size: 35px;
		font-weight: bold;
	}
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table,
.wp-block-table {
	width: 90%;
	margin: var(--Large) auto;

	table-layout:fixed &.alignleft,
	&.alignright,
	&.aligncenter {
		width: 90%;
		max-width: 800px;
	}

	&.alignwide {
		width: 1024px;
	}

	&.alignfull {
		max-width: 90%;
	}
}