section.featured-products {
	position: relative;
	padding: var(--xLarge) 0;
	margin: 0 auto;
	clear: both;
	display: block;

	&::after {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		display: block;
		height: 55%;
		content: '';
		background-color: #f6f5f1;
	}

	& h2 {
		width: 90%;
		max-width: 1120px;
		margin: 0 auto var(--Medium) auto;
		font-size: 24px;
	}

	&>a.button {
		display: table;
		margin: var(--xLarge) auto 0 auto;
	}

	& .products {
		display: block;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		width: 90%;
		max-width: 1200px;
		padding: 0 var(--Large);
		margin: 0 auto;

		& .product {
			height: 100%;
			min-height: 350px;

			& img {
				min-width: 200px;
			}
		}

		& button.slick-arrow {
			padding: 0;
			margin: 0;
			background-color: transparent;
			border: transparent;

			& svg {
				width: 2em;
				height: 2em;
			}

			&.slick-prev {
				position: absolute;
				top: 50%;
				left: 0;
				z-index: 2;
				transform: translateY(-50%);
			}

			&.slick-next {
				position: absolute;
				top: 50%;
				right: 0;
				z-index: 2;
				transform: translateY(-50%);
			}
		}

		& .slick-track {
			display: flex;
		}

		& .slick-slide {
			padding: var(--Small);

			&>div {
				height: 100%;
			}
		}
	}
}