/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: var(--Large) 0;
	margin: 0 auto;
	text-align: center;

	&>div {
		width: 95%;
	}

	& h1 {
		max-width: 960px;
		margin: 0 auto;

		& span {
			display: block;
			margin-top: var(--Medium);
			font-family: Roboto;
			font-size: 18px;
			font-weight: 300;
			line-height: 1.5;

			@media(--phone) {
				font-size: 22px;
			}
		}
	}

	& svg {
		display: block;
		width: 40px;
		height: 40px;
		margin: var(--Large) auto 0;
	}
}