/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  padding: var(--xLarge) 0;
  margin: 0 auto;
  clear: both;

  @media(--tablet) {
    flex-wrap: initial;
  }

  & .connect {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    order: 2;
    width: 100%;
    max-width: 100%;
    margin-top: var(--Large);

    @media(--tablet) {
      order: 1;
      max-width: 300px;
      margin-top: 0;
    }

    & .social {
      & a {
        text-decoration: none;
      }
    }

    & img {
      width: auto;
      height: 80px;
      margin-right: 24px;
    }

    & svg {
      margin-right: 8px;
    }

    & .gform_wrapper {
      width: 100%;

      & .gform_title {
        margin: 0.5em 0 0 0;
        font-size: 1em;
      }

      & .gform_description {
        display: block;
        margin-bottom: 0.5em;
        font-size: 0.875em;
        line-height: 1.5;
      }

      & .gform_footer {
        position: absolute;
        right: 0;
        bottom: 39px;

        & button {
          padding: 0.67em 1.75em;
          margin: 0;
          font-family: 'Roboto';
          font-size: 14px;
          font-weight: 700;
          line-height: 1.75;
          color: var(--Black);
          background-color: var(--Tan);
          border: 1px solid var(--Tan);

          &:hover,
          &:focus {
            color: var(--Black);
            background-color: var(--TanDark);
          }
        }
      }

      & #field_13_1 {
        margin: 0;
      }

      & #field_13_3 {
        margin: var(--Small) 0 0 0;
      }
    }
  }

  & > nav {
    order: 1;
    width: 100%;
    max-width: 100%;
    column-count: 2;
    column-gap: 32px;

    @media(--phone) {
      column-count: 3;
    }

    @media(--tablet) {
      order: 2;
      max-width: 500px;
    }

    & ul,
    & li {
      padding: 0;
      margin: 0;
      list-style: none;
      background-image: none;
    }

    @media(--phone) {
      & li.bold-label {
        font-family: 'Roboto';
        font-weight: 700;
      }
    }

    & a,
    & button {
      position: relative;
      display: block;
      padding: 0.25em 0;
      margin: 0;
      font-size: 18px;
      line-height: 1.5;
      color: var(--BlackLight);
      text-align: left;
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--Black);
        text-decoration: underline;
        outline: none;
      }
    }
  }

  & svg {
    display: inline-block;
    width: 24px;
    height: 24px;
  }
}

.copyright {
  padding: var(--Small) var(--Small) var(--xLarge) var(--Small);
  background-color: #f8f8f8;

  & p {
    margin: 0;
    font-size: 14px;
    text-align: center;

    & button,
    & a {
      padding: 0 0 0 var(--Small);
      margin: 0 0 0 var(--Small);
      font-weight: normal;
      color: var(--GreyDark);
      text-decoration: underline;
      text-transform: initial;
      background: transparent;
      border-left: 1px solid var(--GreyDark);
    }
  }
}
