/*-----------------------------------*\
	CARDS
\*-----------------------------------*/
section.card-grid {
  & .card {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--Medium);
    margin-bottom: var(--Medium);
    background-color: var(--White);

    & > * {
      flex: 0 0 auto;
    }

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    & h2,
    & h3 {
      margin-bottom: 0;
    }

    & p {
      flex: 1 1 auto;
    }

    & a.button {
      margin: 0;
    }
  }

  &.top-cards .card {
    & figure {
      position: relative;
      top: -1rem;
      left: -1rem;
      width: calc(100% + 2rem);
      min-height: 200px;
      margin: 0;

      & img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    & h2,
    & h3 {
      margin-top: 0;
    }
  }

  &.thumb-cards {
    margin: 120px auto var(--xLarge) auto;

    & .card {
      padding: var(--xLarge) var(--Medium);
      margin-bottom: var(--xLarge);
      text-align: center;

      & figure {
        position: absolute;
        top: 0;
        left: 50%;
        width: 96px;
        height: 96px;
        margin: 0;
        overflow: hidden;
        border-radius: 100px;
        transform: translateX(-50%) translateY(-50%);

        & img {
          display: block;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      & h2,
      & h3 {
        width: 100%;
        margin-top: 0;
      }

      & a.button {
        position: absolute;
        bottom: var(--Medium);
        left: 50%;
        width: calc(100% - 2em);
        margin: 0;
        transform: translateX(-50%);
      }
    }
  }

  &.cover-cards .card {
    min-height: 400px;
    padding: var(--xLarge) var(--Medium);

    & figure {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;

      & img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: block;
        content: '';
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 100%);
      }
    }

    & h2,
    & h3 {
      position: absolute;
      bottom: var(--Medium);
      z-index: 5;
    }

    & a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      margin: 0;
      overflow: hidden;
      text-indent: -999px;
      background-color: transparent;
    }
  }
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
section.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--xLarge) auto;

  & .card {
    width: 100%;
    margin-right: 0;
  }

  @media(--phone) {
    &.two-columns .card,
    &.four-columns .card,
    &.six-columns .card,
    &.eight-columns .card {
      width: calc((100% - 2rem)/2);
    }

    &.three-columns .card,
    &.five-columns .card,
    &.six-columns .card,
    &.seven-columns .card {
      width: 33%;
      width: calc((100% - 4rem)/3);
    }

    &.three-columns .card:nth-of-type(3n),
    &.four-columns .card:nth-of-type(2n),
    &.five-columns .card:nth-of-type(3n),
    &.six-columns .card:nth-of-type(3n),
    &.seven-columns .card:nth-of-type(3n),
    &.eight-columns .card:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  @media(--tablet) {
    &.four-columns .card {
      width: 25%;
      width: calc((100% - 6rem)/4);
    }

    &.five-columns .card {
      width: 20%;
      width: calc((100% - 8rem)/5);
    }

    &.six-columns .card {
      width: 16.6%;
      width: calc((100% - 10rem)/6);
    }

    &.seven-columns .card {
      width: 14.28%;
      width: calc((100% - 12rem)/7);
    }

    &.eight-columns .card {
      width: 12.5%;
      width: calc((100% - 14rem)/8);
    }

    &.four-columns .card:nth-of-type(4n),
    &.five-columns .card:nth-of-type(5n),
    &.six-columns .card:nth-of-type(6n),
    &.seven-columns .card:nth-of-type(7n),
    &.eight-columns .card:nth-of-type(8n) {
      margin-right: 0;
    }
  }
}
