/*-----------------------------------*\
	MEDIA QUERIES IN CORRECT ORDER
\*-----------------------------------*/
@custom-media --phone (min-width: 500px);

@custom-media --tablet (min-width: 800px);

@custom-media --laptop (min-width: 1050px);

@custom-media --desktop (min-width: 1200px);

div {
	@media(--phone) {
		box-sizing: inherit;
	}

	@media(--tablet) {
		box-sizing: inherit;
	}

	@media(--laptop) {
		box-sizing: inherit;
	}

	@media(--desktop) {
		box-sizing: inherit;
	}
}

/*-----------------------------------*\
	UNIVERSAL
\*-----------------------------------*/
html {
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 1.5;
	color: var(--GreyDark);
	background: var(--White);

	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0;

	&.cannot-scroll {
		position: fixed;
		width: 100vw;
		overflow: hidden;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*-----------------------------------*\
	LAZYLOAD IMAGES
\*-----------------------------------*/
.blur-up {
	filter: blur(8px);
	transition: all 0.35s linear;
}

.blur-up.lazyloaded {
	filter: blur(0);
	-webkit-filter: blur(0);
}

/*-----------------------------------*\
	WORDPRESS ADMIN BAR
\*-----------------------------------*/
#wpadminbar {
	z-index: 1000000 !important;
}

/*-----------------------------------*\
	SKIP NAV
\*-----------------------------------*/
#skip-to-content {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999999;
	transition: all 0.35s linear;
	transform: translateY(-100%);

	&:focus {
		transform: translateY(0);
	}
}

/*-----------------------------------*\
	MAIN & ARTICLE
\*-----------------------------------*/
main {
	position: relative;

	&>article {

		&>*:not(section) {
			width: 90%;
			max-width: 800px;
			margin-right: auto;
			margin-left: auto;
		}

		&::after {
			display: block;
			clear: both;
			content: '';
		}
	}
}

/*-----------------------------------*\
	ANCHOR LINKS
\*-----------------------------------*/
:target::before {
	content: "";
	display: block;
	height: 100px;
	margin: -100px 0 0;
}