/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: .25rem;
	--Small: .5rem;
	--Medium: 1rem;
	--Large: 2rem;
	--xLarge: 4rem;
	--White: #ffffff;
	--GreyLight: #eaeaea;
	--Grey: #9b9b9b;
	--GreyDark: #636363;
	--BlackLight: #535353;
	--Black: #000000;
	--Tan: #ccb49c;
	--TanDark: #aa927a;
	--RedLight: #641a1c;
	--Red: #501516;
	--Blue: #2a4d69;
	--BlueLight: #a6b9c9;
}