/*----------------------------------------------------------------*\
	ARCHIVES TEMPLATES
\*----------------------------------------------------------------*/
body.blog,
body.archive.category {
	& header.post-head {
		text-align: center;

		& h1+p {
			font-family: 'Roboto';
			font-size: 18px;
			font-weight: 300;

			@media(--phone) {
				font-size: 24px;
			}
		}

		& svg {
			display: block;
			width: 40px;
			height: 40px;
			margin: var(--Large) auto var(--xLarge);

			@media(--phone) {
				margin: var(--xLarge) auto 0 auto;
			}
		}
	}

	& main>article {
		margin-top: 0;
	}

	& section.latest-post {
		width: 90%;
		max-width: 960px;
		margin: 0 auto var(--xLarge) auto;

		& h2 {
			margin: 0;
			margin-bottom: 1em;
			font-size: 1.25rem;
			letter-spacing: 0.5px;

			@media(--phone) {
				margin-bottom: -1em;
			}
		}

		& article {
			position: relative;
			width: 100%;

			& img {
				left: 0;
				display: block;
				object-fit: contain;
				width: 100%;
				max-height: 90%;

				@media(--phone) {
					position: absolute;
					top: 50%;
					width: 50%;
					transform: translateY(-50%);
				}
			}

			& .text {
				height: 100%;
				min-height: 400px;
				padding: var(--Large) var(--Medium);
				background-color: var(--GreyLight);

				@media(--phone) {
					width: 60%;
					padding: 48px var(--Large);
					padding-left: calc(10% + var(--Medium));
					margin-left: 40%;
				}

				& a {
					color: var(--GreyDark);
					text-decoration: none;
				}

				& h3 {
					margin: 0;
				}

				& .meta {
					margin: var(--Small) 0 var(--Large) 0;

					& span.date {
						padding: 0 var(--Small) 0 0;
						font-size: 12px;
						font-style: italic;
						border-right: 1px solid var(--GreyDark);
					}

					& a.category {
						padding: 0 var(--Small);
						font-family: 'Roboto';
						font-size: 12px;
						font-weight: 700;
						border-right: 1px solidvar(--GreyDark);

						&:last-of-type {
							padding: 0 0 0 var(--Small);
							border: none;
						}
					}
				}

				& .entry-content p {
					margin-bottom: var(--Large);
				}
			}
		}
	}

	& section.blog-categories {
		margin: 128px auto var(--Large) auto;
	}

	& section.additional-posts {
		position: relative;

		& h2 {
			margin-top: 96px;
			text-align: center;
		}

		& svg {
			display: block;
			width: 40px;
			height: 40px;
			margin: var(--Large) auto 96px auto;
		}

		&::after {
			position: absolute;
			top: 300px;
			right: 0;
			bottom: 130px;
			left: 0;
			z-index: -1;
			display: block;
			content: '';
			background-color: #f6f5f1;
		}

		& .blog-feed {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 90%;
			max-width: 960px;
			margin: var(--Large) auto;

			& article {
				width: 100%;
				margin-bottom: var(--xLarge);
				background-color: var(--White);
				transition: all 0.2s linear;

				@media(--phone) {
					width: calc(50% - 32px);
				}

				&:hover,
				&:focus {
					box-shadow: 0 4px 8px 0 rgba(226, 223, 210, 0.8), 0 6px 20px 0 rgba(226, 223, 210, 0.6);
				}

				& img {
					display: block;
					object-fit: cover;
					width: 100%;
					height: 280px;
				}

				& a {
					color: var(--GreyDark);
					text-decoration: none;
				}

				& .text {
					position: relative;
					height: calc(100% - 280px);
					padding: var(--Medium) var(--Medium) var(--Large) var(--Medium);

					& h3 {
						margin: 0 0 var(--Medium) 0;
					}

					& .meta {
						position: absolute;
						bottom: var(--Medium);
						left: var(--Medium);

						& span.date {
							padding: 0 var(--Small) 0 0;
							font-size: 12px;
							font-style: italic;
							border-right: 1px solid var(--GreyDark);
						}

						& a.category {
							padding: 0 var(--Small);
							font-family: 'Roboto';
							font-size: 12px;
							font-weight: 700;
							border-right: 1px solidvar(--GreyDark);

							&:last-of-type {
								padding: 0 0 0 var(--Small);
								border: none;
							}
						}
					}
				}
			}
		}
	}
}

/*-----------------------------------*\
	SEARCH RESULTS
\*-----------------------------------*/
body.search-results {
	& header.post-head h1 {
		font-size: 48px;
	}
}

body.search-no-results {
	& section.is-narrow {
		text-align: center;

		& h2 {
			margin-bottom: 40px;
			font-size: 24px;
		}

		& form {
			& label {
				display: none;
			}

			& button {
				position: relative;
				top: -1px;
				height: 45px;
				margin: 0;
			}
		}
	}
}

article.search-result {
	margin-bottom: var(--xLarge);

	& a {
		text-decoration: none;

		& h2 {
			display: inline;
			background-size: 1px 1em;
		}

		&:hover h2 {
			box-shadow: inset 0 1em white, inset 0 -0.05em var(--GreyDark);
		}
	}

	& a.button {
		margin: var(--Medium) 0 0 0;
	}
}

/*-----------------------------------*\
	BLOG CATEGORIES
\*-----------------------------------*/
section.blog-categories {
	position: relative;
	padding-bottom: var(--Large);

	&::after {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		display: block;
		height: calc(65% + var(--Large));
		content: '';
		background-color: #f6f5f1;

		@media(--tablet) {
			height: calc(50% + var(--Large));
		}
	}

	& h2 {
		max-width: 95%;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}

	& a.button {
		display: table;
		margin: var(--Large) auto;
	}

	& .categories {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 1200px;
		max-width: 90%;
		margin: var(--Large) auto;

		& .category {
			position: relative;
			width: 100%;
			margin-bottom: var(--Medium);
			overflow: hidden;
			text-decoration: none;
			background-color: var(--White);
			transition: all 0.2s linear;

			@media(--phone) {
				width: 18%;
				min-width: 180px;
				margin-bottom: var(--Large);
			}

			&:hover,
			&:focus {
				box-shadow: 0 4px 8px 0 rgba(226, 223, 210, 0.8), 0 6px 20px 0 rgba(226, 223, 210, 0.6);
			}

			& img {
				display: block;
				object-fit: cover;
				width: 100%;
				height: 125px;

				@media(--phone) {
					height: 275px;
				}
			}

			& h3 {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				padding: var(--Small);
				margin: 0;
				font-family: 'PlayfairDisplay';
				font-size: 24px;
				word-spacing: 400px;
				background-color: rgba(255, 255, 255, 0.5);

				@media(--phone) {
					position: initial;
					background-color: transparent;
				}
			}
		}
	}
}

/*-----------------------------------*\
	PAGINATION
\*-----------------------------------*/
nav.pagination {
	max-width: 1200px;
	margin: 32px auto 16px auto;
	font-family: 'PlayfairDisplay';
	font-size: 24px;
	font-weight: 700;
	text-align: center;

	& a {
		margin: 0 0.5em;
		color: var(--GreyDark);
		text-decoration: underline;

		&.prev {
			position: relative;
			display: inline-block;
			width: 24px;
			height: 24px;
			margin: 0 var(--Medium) 0 0;
			text-indent: -9999px;
			vertical-align: middle;

			&::after {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: inline-block;
				content: '';
				background-image: url('../images/arrow-left.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}
		}

		&.next {
			position: relative;
			display: inline-block;
			width: 24px;
			height: 24px;
			margin: 0 0 0 var(--Medium);
			text-indent: -9999px;
			vertical-align: middle;

			&::after {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: inline-block;
				content: '';
				background-image: url('../images/arrow-right.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}
		}
	}
}