/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/
.woocommerce a.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	padding: 6px 32px;
	margin: 0;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 700;
	line-height: 1.75;
	color: var(--Black);
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	background-color: var(--Tan);
	border: 0;
	border-radius: 0;
	outline: none;
	transition: all 0.15s linear;

	&:hover,
	&:focus {
		color: var(--Black);
		background-color: var(--TanDark);
	}
}

/*----------------------------------------------------------------*\
		SHOP & PRODUCT CATEGORIES
\*----------------------------------------------------------------*/
body.post-type-archive-product,
body.tax-product_cat {
	& main.site-main {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;

		& header.woocommerce-products-header {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			order: 1;
			width: 100%;
			padding: var(--Large) 0;
			text-align: center;

			& h1 {
				margin: 0;
			}

			& h1+p {
				font-family: 'Roboto';
				font-size: 18px;
				font-weight: 300;

				@media(--phone) {
					font-size: 24px;
				}
			}

			& svg {
				display: block;
				width: 40px;
				height: 40px;
				margin: var(--Medium) auto 0 auto;

				@media(--phone) {
					margin: var(--xLarge) auto 0 auto;
				}
			}
		}

		& .woocommerce-notices-wrapper {
			order: 1;
			width: 100%;
		}

		& ul.products {
			display: flex;
			justify-content: space-between;
			order: 3;
			width: 100%;
			padding: var(--Medium);
			background-color: #f6f5f1;

			@media(--phone) {
				width: calc(100% - 200px);
				padding: var(--Large);
			}

			@media(--tablet) {
				width: calc(100% - 239px);
			}

			&::before {
				display: none;
			}

			& li {
				width: 98%;
				margin: 0 0 var(--Large) 0;
				background-image: none;

				@media(--phone) {
					width: 48%;
				}

				@media(--tablet) {
					width: 32%;
				}

				@media(--laptop) {
					width: 23%;
				}
			}
		}

		& nav.pagination {
			order: 3;
			margin: 0 0 var(--Large) auto;
		}

		& #sidebar {
			order: 4;
			width: 175px;
			padding: var(--Large) 0;

			@media(--phone) {
				order: 2;
			}

			& div.widget {
				margin-top: var(--Large);

				&:first-child {
					margin-top: 0;
				}
			}

			& h4 {
				position: relative;
				padding: 0;
				margin: 0 0 var(--Medium) 0;

				&::after {
					display: block;
					width: 64px;
					height: 2px;
					margin-top: var(--Small);
					content: '';
					background-color: var(--Grey);
				}
			}

			& ul {
				padding: 0;
				margin: 0;

				& li {
					padding: 0;
					background-image: none;

					& a {
						text-decoration: none;
					}
				}
			}
		}
	}
}

body.post-type-archive-product main.site-main {
	& #sidebar {
		order: 2;
	}
}

/*----------------------------------------------------------------*\
		PRODUCT PREVIEW ELEMENT
\*----------------------------------------------------------------*/
.products {
	display: flex;
	flex-wrap: wrap;

	& a.product {
		height: 100%;
		transition: all 0.2s linear;

		&:hover,
		&:focus {
			box-shadow: 0 4px 8px 0 rgba(226, 223, 210, 0.8), 0 6px 20px 0 rgba(226, 223, 210, 0.6);
		}
	}

	& .product {
		position: relative;
		display: flex !important;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
		padding: 0 var(--Medium) var(--Medium) var(--Medium);
		overflow: visible;
		color: var(--Black);
		text-decoration: none;
		background-color: var(--White);

		& span.sale {
			position: absolute;
			top: -8px;
			left: -8px;
			z-index: 2;
			display: inline-block;
			padding: 4px var(--Medium);
			font-family: Roboto;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.5;
			color: var(--White);
			text-transform: uppercase;
			letter-spacing: 1px;
			background-color: var(--BlackLight);
			border-radius: 0;
		}

		& img {
			position: relative;
			left: -16px;
			width: calc(100% + 32px) !important;
			max-width: 200%;
			height: auto;
			margin: 0 !important;
			background-color: var(--GreyLight) !important;
			transition: all 0.1s linear;
		}

		& h3 {
			flex-grow: 1;
			width: 100%;
			padding: 0 !important;
			margin: var(--Small) 0 0 0 !important;
			font-family: 'Roboto';
			font-size: 16px !important;
			font-weight: 400;
			line-height: 1.5;
			color: var(--Black);

			& span {
				font-family: 'Roboto';
				font-style: italic;
				font-weight: 300;
				color: var(--Grey);
			}
		}

		& p {
			width: 100%;
			padding: 0;
			margin: var(--Small) 0 0 0;
			font-size: 14px;
			font-weight: 700;
			line-height: 1.5;
			color: var(--Black);
			letter-spacing: 0.5px;

			& del {
				margin-right: 4px;
				color: var(--GreyDark);
			}
		}

		& a.button {
			padding: var(--Medium) var(--Large);
		}
	}
}