/*----------------------------------------------------------------*\
	COMPARISON
\*----------------------------------------------------------------*/
body.page-template-comparison {
  & header.post-head {
    & h1 span {
      margin-top: var(--Large);
      font-weight: 100;
    }
  }

  & article {
    & section.table {
      padding: var(--Medium) 0 var(--xLarge) 0;
      background-color: #f6f5f1;

      & table {
        position: relative;
        max-width: 960px;
        background-color: transparent;
        border-color: transparent;

        & tr:first-child th:first-child {
          background-color: transparent;
          border-color: transparent;
        }

        & th {
          letter-spacing: 1px;
          background-color: transparent;
          border-color: transparent;
        }

        & td {
          text-align: center;
          background-color: transparent;
          border-color: transparent;
        }

        & td:first-child {
          font-size: 16px;
          text-align: left;
        }
      }

      & button {
        display: table;
        margin: 0 auto;
      }
    }

    & section.comparison-testimonies {
      width: 90%;
      max-width: 1200px;
      margin: var(--xLarge) auto;

      & button.slick-arrow {
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: transparent;

        & svg {
          width: 2em;
          height: 2em;
        }

        &.slick-prev {
          position: absolute;
          top: 50%;
          left: 0;
          z-index: 2;
        }

        &.slick-next {
          position: absolute;
          top: 50%;
          right: 0;
          z-index: 2;
        }
      }

      & .slick-track {
        display: flex;
      }

      & .slick-slide,
      & .slick-slide > div {
        height: 100%;
        min-height: 100%;
      }

      & .slick-slide {
        display: flex;
        height: auto;
        padding: 0 var(--Large);
      }

      & .testimony {
        position: relative;
        height: 100%;
        padding: var(--Large) var(--Large) var(--xLarge) var(--Large);
        background-color: var(--GreyLight);

        & div.star-rating {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 200px;
          margin: 0 auto;

          & svg {
            width: calc(20% - 20px);
            margin: 8px;
            fill: var(--BlackLight);
          }
        }

        & p {
          position: relative;
          margin-bottom: 0;
          line-height: 1.75;
          text-align: center;

          &:last-child {
            position: absolute;
            bottom: 8px;
            left: 50%;
            display: block;
            font-family: 'PlayfairDisplay';
            font-size: 24px;
            font-weight: 700;
            color: var(--BlackLight);
            transform: translateX(-50%);
          }
        }
      }

      & + button {
        display: table;
        width: auto;
        margin: 0 auto;
      }
    }

    & section.community {
      & .community-gallery {
        padding-bottom: var(--xLarge);

        &::after {
          background-color: #f6f5f1;
        }
      }
    }

    & section.past-boxes.classic {
      margin: 120px 0 var(--Large) 0;

      & button.slick-arrow.slick-prev {
        left: 0;

        @media(--tablet) {
          left: calc(50% - 48px);
        }
      }

      & button.slick-arrow.slick-next {
        right: 0;
      }

      & .boxes {
        margin: 0 auto var(--xLarge) auto;

        &::after {
          background-color: var(--Blue);
        }

        & .box {
          justify-content: center;

          @media(--tablet) {
            justify-content: flex-start;
          }

          & img {
            order: 2;
            margin-right: 0;
            margin-left: 0;

            @media(--tablet) {
              margin-right: 32px;
            }
          }

          & div.text {
            order: 2;
            height: auto;
            background-color: var(--BlueLight);

            @media(--tablet) {
              order: 0;
              background-color: transparent;
            }

            & h2 {
              margin: 0 0 var(--Small) 0;
              font-family: Roboto;
              font-size: 16px;
              font-weight: 400;
              line-height: 1.5;
              color: var(--BlackLight);

              @media(--tablet) {
                color: var(--White);
              }
            }

            & h3 {
              margin-bottom: 0;
              color: var(--BlackLight);

              @media(--tablet) {
                color: var(--White);
              }
            }

            & p {
              color: var(--BlackLight);

              @media(--tablet) {
                color: var(--White);
              }
            }

            & a.button {
              margin-top: var(--Large);
            }
          }
        }
      }
    }

    & section.past-boxes.premium {
      & .text {
        background-color: var(--Red);

        @media(--tablet) {
          background-color: transparent;
        }

        & .button {
          background-color: var(--Black);

          @media(--tablet) {
            background-color: var(--Red);
          }
        }
      }
    }

    & section.thin-banner {
      margin-top: 160px;
    }
  }
}
