/*----------------------------------------------------------------*\
	CSS TO MAKE SURE ELEMENTOR WORKS PROPERLY
\*----------------------------------------------------------------*/
body.elementor-page {
	& header.post-head {
		display: none;
	}

	& main>article>* {
		max-width: 100%;
		width: auto;
	}
}