/*----------------------------------------------------------------*\
	404 TEMPLATE
\*----------------------------------------------------------------*/
body.error404 {
  & main {
    overflow: hidden;
  }

  & main > article > p {
    text-align: center;
  }

  & section.card-grid {
    position: relative;
    max-width: 1024px;
    padding: var(--xLarge) 0;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      display: block;
      width: 100vw;
      height: 100%;
      content: "";
      background-color: #f6f5f1;
      transform: translateX(-50%);
    }

    & .card {
      padding: var(--Large);
      text-align: center;

      & h3 {
        width: 100%;
      }

      & a.button {
        width: 100%;
        text-align: center;
      }
    }
  }
}
