/*----------------------------------------------------------------*\
	FRONT PAGE TEMPLATE
\*----------------------------------------------------------------*/
body.home {
	& header.front-head {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: normal;
		justify-content: space-between;
		padding: 0;
		overflow: hidden;
		text-align: left;

		&.premium-active {
			& .premium {
				z-index: 2;

				& .bg,
				& a {
					width: 150%;
				}
			}

			& .monthly {
				z-index: 1;

				& h1,
				& p,
				& a,
				& .button {
					opacity: 0;
				}
			}
		}

		&.monthly-active {
			& .monthly {
				z-index: 2;

				& .bg,
				& a {
					width: 150%;
				}
			}

			& .premium {
				z-index: 1;

				& h1,
				& p,
				& a,
				& .button {
					opacity: 0;
				}
			}
		}

		&>div {
			position: relative;
			width: 100%;
			padding: var(--Medium) var(--Small);
			color: var(--White);

			@media(--phone) {
				padding: var(--xLarge);
			}

			@media(--tablet) {
				width: 50%;
				padding: 24vh var(--xLarge) 10vh var(--xLarge);
			}

			& h1 {
				max-width: 375px;
				margin: 0;
				font-size: 32px;
				color: inherit;
				opacity: 1;
				transition: all 0.35s ease-in-out;

				@media(--phone) {
					margin: 0 0 var(--Large) 0;
					font-size: 40px;
				}

				@media(--tablet) {
					font-size: 56px;
				}
			}

			& p {
				max-width: 375px;
				margin: var(--Small) 0 var(--Medium);
				margin-bottom: var(--Large);
				font-size: 20px;
				opacity: 1;
				transition: all 0.35s ease-in-out;

				@media(--phone) {
					margin-bottom: var(--Large);
				}

				@media(--tablet) {
					font-size: 24px;
				}
			}

			& .button {
				max-width: 375px;
				opacity: 1;
				transition: all 0.35s ease-in-out;
			}

			& a {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}

			& .bg {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: -1;
				width: 100%;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				transition: all 0.5s ease-in-out;

				&::before {
					content: '';
					display: block;
					background-image: linear-gradient(180deg, rgba(56, 56, 56, .85) 0%, rgba(56, 56, 56, .35) 100%);
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: -1;
					width: 100%;
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;

					@media(--phone) {
						background-image: linear-gradient(180deg, rgba(105, 105, 105, 0.2) 0%, rgba(56, 56, 56, 0.58) 100%);
					}
				}
			}

			&.premium {
				text-align: right;

				&>* {
					margin-right: 0;
					margin-left: auto;
				}
			}
		}
	}

	& section.intro {
		width: 90%;
		max-width: 800px;
		margin: 0 auto;
		text-align: center;

		& p {
			font-size: 18px;

			@media(--tablet) {
				font-size: 22px;
			}
		}

		& svg {
			display: block;
			width: 40px;
			height: 40px;
			margin: var(--Large) auto 0 auto;
		}
	}

	& section.gift-options {
		position: relative;
		padding-top: var(--xLarge);

		&::after {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			z-index: -1;
			display: block;
			height: 65%;
			content: '';
			background-color: #f6f5f1;
		}

		&>div {
			width: 90%;
			max-width: 960px;
			margin: 0 auto;
		}

		& h2 {
			margin-top: 0;
			text-align: center;

			&+p {
				font-size: 18px;
				text-align: center;

				@media(--tablet) {
					font-size: 22px;
				}
			}
		}

		& img {
			display: block;
			width: 90%;
			max-width: 600px;
			margin: 0 auto;
		}

		& svg {
			display: block;
			width: 40px;
			height: 40px;
			margin: var(--Medium) auto var(--Large) auto;
		}

		& a.button {
			display: table;
			margin: var(--Medium) auto var(--xLarge) auto;

			@media(--phone) {
				margin: var(--xLarge) auto;
			}
		}
	}

	& section.featured-products-intro {
		padding: var(--Large) 0 var(--xLarge) 0;

		&>h2 {
			margin-top: 0;
		}
	}

	& section.featured-products {
		background-color: #f6f5f1;

		&::after {
			display: none;
		}
	}
}

section.testimonies-slider {
	position: relative;
	width: 90%;
	max-width: 1200px;
	margin: var(--xLarge) auto;

	& iframe {
		position: relative;
		z-index: 2;
		display: block;
		object-fit: contain;
		width: 100%;
		max-width: 600px;
		margin: 0 auto;

		@media(--laptop) {
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 2;
			width: 50%;
			max-height: 90%;
			transform: translateY(-50%);
		}
	}

	& button.slick-arrow {
		padding: 0;
		margin: 0;
		background-color: transparent;
		border: transparent;

		& svg {
			width: 2em;
			height: 2em;
		}

		&.slick-prev {
			position: absolute;
			top: 50%;
			left: -8px;
			z-index: 2;
			transform: translateY(-50%);

			@media(--phone) {
				left: 16px;
			}

			@media(--laptop) {
				left: calc(50% + 16px);
			}
		}

		&.slick-next {
			position: absolute;
			top: 50%;
			right: -8px;
			z-index: 2;
			transform: translateY(-50%);

			@media(--phone) {
				right: 16px;
			}
		}
	}

	& .slick-slide,
	& .slick-slide>div {
		height: 100%;
		min-height: 100%;
	}

	& .testimonies {
		margin-top: -60px;

		@media(--laptop) {
			margin: 0;
		}
	}

	& .testimony {
		position: relative;
		display: flex !important;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background-color: var(--GreyLight);

		@media(--tablet) {
			justify-content: flex-end;
		}

		@media(--laptop) {
			background-color: transparent;
		}

		&>div {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			width: 100%;
			padding: 100px 8px var(--Large) 8px;
			background-color: var(--GreyLight);

			@media(--phone) {
				padding: 100px var(--Large) var(--Large) var(--Large);
			}

			@media(--laptop) {
				width: 60%;
				padding: 80px;
				padding-left: calc(10% + 80px);
			}

			&>div {
				width: 85%;
				max-width: 600px;

				@media(--laptop) {
					width: 100%;
					max-width: 100%;
				}
			}

			& div.star-rating {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 200px;
				margin: 0 auto;

				& svg {
					width: calc(20% - 16px);
					margin: 8px;
					fill: var(--BlackLight);
				}
			}

			& p {
				position: relative;
				margin-bottom: 0;
				font-size: 16px;
				line-height: 1.75;
				text-align: center;

				@media(--phone) {
					font-size: 20px;
				}

				&::before {
					position: absolute;
					top: -32px;
					left: -20px;
					display: block;
					font-size: 56px;
					color: #7a7a7a;
					content: '“';
				}

				&::after {
					position: absolute;
					right: -20px;
					bottom: 32px;
					display: block;
					font-size: 56px;
					color: #7a7a7a;
					content: '”';
				}

				& span {
					display: block;
					margin-top: var(--Medium);
					font-family: 'PlayfairDisplay';
					font-size: 32px;
					font-weight: 700;
					color: var(--BlackLight);
					text-align: right;
				}
			}
		}
	}
}

section.thin-banner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: var(--Large);
	background-color: var(--BlackLight);

	&>div {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		@media(--phone) {
			flex-wrap: nowrap;
		}
	}

	& img,
	& svg {
		max-width: 75px;
		max-height: 75px;
		margin: 0 0 var(--Medium) 0;
		vertical-align: center;

		@media(--phone) {
			margin: 0 var(--Large) 0 0;
		}
	}

	& p {
		margin: 0 0 var(--Medium) 0;
		font-size: 20px;
		color: var(--White);

		@media(--phone) {
			margin: 0 var(--Large) 0 0;
		}
	}

	& a.button,
	& button {
		flex-shrink: 0;
		margin: 0;
	}
}