/*----------------------------------------------------------------*\
	JOIN PREMIUM
\*----------------------------------------------------------------*/
body.page-template-join-premium {
	& header.post-head {
		align-items: flex-end;
		min-height: 80vh;
		padding-bottom: var(--xLarge);
		background-position: center;
		background-size: cover;

		&>div {
			max-width: 90%;
		}

		& h1 {
			color: var(--White);

			& span {
				max-width: 600px;
				margin: var(--Medium) auto;
			}
		}

		& a.button {
			margin: var(--Large) 0 0 0;
		}

		& p {
			color: var(--White);
			font-size: 14px;
		}

		& svg {
			margin-top: var(--xLarge);
			filter: brightness(0) invert(1);
		}
	}

	& main>article {
		margin-top: 0;
	}

	& section.intro {
		padding: 4em 0 var(--xLarge) 0;
		background-color: #f6f5f1;

		&>div {
			max-width: 960px;
			width: 90%;
			margin: 0 auto;

			&>*:first-child {
				margin-top: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}
		}

		& p {
			font-size: 18px;
			color: var(--GreyDark);
		}
	}

	& section.highlight-cards {
		position: relative;

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			z-index: -1;
			display: block;
			height: 50%;
			content: '';
			background-color: #f6f5f1;
		}

		& .cards {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 90%;
			max-width: 960px;
			margin: 0 auto;

			& .card {
				width: 100%;
				max-width: 500px;
				padding: var(--Large) var(--Large) var(--Medium) var(--Large);
				margin: var(--Medium) auto;
				text-align: center;
				background-color: var(--Black);

				@media(--tablet) {
					max-width: 32%;
					margin: 0;
				}

				& img {
					display: inline-block;
					width: 96px;
					height: 96px;
				}

				& h2 {
					margin: 0;
					font-size: 28px;
					color: var(--Tan);
				}

				& p {
					color: var(--White);
				}
			}
		}

		&>a.button {
			display: table;
			margin: var(--xLarge) auto;
		}
	}

	& section.testimonies-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		max-width: 100%;

		& img {
			object-fit: cover;
			width: 100%;
			max-height: 100%;

			@media(--phone) {
				width: 50%;
			}
		}

		& div.testimonies {
			display: flex;
			align-items: center;
			width: 100%;
			padding: var(--Large);
			background-color: var(--Red);

			@media(--phone) {
				width: 50%;
			}

			& button.slick-arrow {
				padding: 0;
				margin: 0;
				background-color: transparent;
				border: transparent;

				& svg {
					width: 2em;
					height: 2em;
					filter: brightness(0) invert(1);
					-webkit-filter: brightness(0) invert(1);
				}

				&.slick-prev {
					position: absolute;
					top: 50%;
					left: 32px;
					z-index: 2;
					transform: translateY(-50%);
				}

				&.slick-next {
					position: absolute;
					top: 50%;
					right: 32px;
					z-index: 2;
					transform: translateY(-50%);
				}
			}

			& .slick-slide {
				display: flex !important;
				justify-content: center;
			}

			& .testimony {
				max-width: 400px;
				margin-right: auto;
				margin-left: auto;

				& div.star-rating {
					display: flex;
					justify-content: space-between;
					max-width: 200px;
					margin: 0 auto var(--Large) auto;

					& svg {
						width: 24px;
						fill: var(--White);
					}
				}

				& p {
					position: relative;
					margin: 0 36px;
					font-size: 16px;
					color: var(--White);

					@media(--laptop) {
						margin: 0;
					}

					&::before {
						position: absolute;
						top: -48px;
						left: -40px;
						display: block;
						font-family: 'PlayfairDisplay';
						font-size: 80px;
						color: var(--Tan);
						content: "“";
					}

					&::after {
						position: absolute;
						right: -40px;
						bottom: -20px;
						display: block;
						font-family: 'PlayfairDisplay';
						font-size: 80px;
						color: var(--Tan);
						content: "”";
					}

					& span {
						display: block;
						margin-top: var(--Small);
						font-size: 24px;
						color: var(--White);
						text-align: right;
					}
				}
			}
		}
	}

	& section.process {
		position: relative;

		& h2 {
			margin-bottom: 0;
			color: var(--Red);
			text-align: center;

			@media(--tablet) {
				margin-bottom: 120px;
			}
		}

		& .process-step {
			position: relative;
			padding: var(--xLarge) 0;
			margin-top: -48px;
			background-color: #f6f5f1;

			&:first-of-type,
			&:last-of-type {
				background-color: transparent;
			}

			&:first-of-type {
				padding-top: 24px;
				margin-top: 0;

				@media(--tablet) {
					padding: var(--xLarge) 0;
				}

				&::after {
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: -1;
					display: block;
					height: 80%;
					content: '';
					background-color: #f6f5f1;
				}
			}

			&:last-of-type {
				&::after {
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					z-index: -1;
					display: block;
					height: 70%;
					content: '';
					background-color: #f6f5f1;
				}
			}

			&:nth-child(odd) {
				& .text {
					order: 2;
					padding: 40px 0 96px 0;

					@media(--tablet) {
						padding: 0 0 0 var(--Large);
					}
				}

				& .image {
					order: 2;
					text-align: right;

					@media(--tablet) {
						order: 1;
					}

					& img {
						object-position: left;
						margin-right: 0;
						margin-left: 96px;
					}

					& span {
						right: auto;
						left: 10px;
						text-align: left;

						@media(--phone) {
							left: 0;
						}
					}
				}
			}

			&>div {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-around;
				width: 90%;
				max-width: 1200px;
				margin: 0 auto;

				@media(--tablet) {
					flex-wrap: nowrap;
				}

				&>div {
					&.text {
						width: 100%;
						padding: 40px 0 96px 0;

						@media(--tablet) {
							width: 45%;
							padding: 0 var(--Large) 0 0;
						}

						& h3 {
							margin-top: 0;
							font-size: 28px;
						}
					}

					&.image {
						position: relative;

						& img {
							position: relative;
							z-index: 2;
							object-fit: contain;
							object-position: right;
							max-width: 70%;
							max-height: 500px;
							margin-right: 96px;

							@media(--phone) {
								max-width: 500px;
							}
						}

						& span {
							position: absolute;
							top: -40px;
							right: 10px;
							z-index: 1;
							width: 50%;
							min-width: 0;
							height: calc(100% + 80px);
							padding: var(--Medium) var(--Large);
							font-family: 'PlayfairDisplay';
							font-size: 48px;
							font-weight: 700;
							line-height: 1;
							color: var(--Tan);
							text-align: right;
							background-color: var(--Black);

							@media(--phone) {
								right: 0;
								min-width: 350px;
							}

							&::after {
								position: absolute;
								top: -16px;
								left: -16px;
								width: calc(100% + 32px);
								height: calc(100% + 32px);
								content: '';
								border: 6px solid var(--Tan);

								@media(--phone) {
									top: -24px;
									left: -24px;
									width: calc(100% + 48px);
									height: calc(100% + 48px);
								}
							}
						}
					}
				}
			}
		}

		& a.button {
			position: relative;
			z-index: 2;
			display: table;
			margin: var(--xLarge) auto;
		}

		&::after {
			position: absolute;
			bottom: 0;
			left: 50%;
			display: block;
			display: none;
			width: 3px;
			height: calc(100% - 200px);
			content: '';
			background-color: var(--Grey);
			transform: translateX(-50%);

			@media(--tablet) {
				display: block;
			}
		}
	}

	& section.past-boxes {
		margin: 120px auto var(--xLarge) auto;

		& h2 {
			color: var(--Red);
		}

		& .text {
			background-color: var(--Red);

			@media(--tablet) {
				background-color: transparent;
			}

			& .button {
				background-color: var(--Black);

				@media(--tablet) {
					background-color: var(--Red);
				}
			}
		}
	}

	& section.support {
		padding: 64px var(--Medium) 0 var(--Medium);
		text-align: center;
		background-color: var(--White);

		@media(--tablet) {
			padding: 120px var(--Medium) 0 var(--Medium);
		}

		& h2 {
			margin: 0 0 var(--Large) 0;

			@media(--tablet) {
				margin: 0 0 var(--xLarge) 0;
			}
		}

		& .buttons {
			text-align: center;

			& .button {
				margin: 0 0 var(--Medium) 0;

				@media(--phone) {
					margin: 0 var(--Medium) var(--Medium) 0;
				}

				@media(--tablet) {
					margin-bottom: 0;
				}
			}

			& a.button:last-child {
				margin: 0;
			}
		}
	}
}

section.past-boxes {
	& h2 {
		margin-top: 0;
		text-align: center;
	}

	& button.slick-arrow {
		padding: 0;
		margin: 0;
		background-color: transparent;
		border: transparent;

		& svg {
			width: 2em;
			height: 2em;
		}

		&.slick-prev {
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 2;
			transform: translateY(-50%);
		}

		&.slick-next {
			position: absolute;
			top: 50%;
			right: 0;
			z-index: 2;
			transform: translateY(-50%);

			@media(--tablet) {
				right: calc(50% - 48px);
			}
		}
	}

	& .slick-slide,
	& .slick-slide>div {
		height: 100%;
		min-height: 100%;
	}

	& .boxes {
		width: 90%;
		max-width: 1024px;
		margin: 0 auto;

		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: -1;
			display: block;
			width: 100vw;
			height: calc(100% - 150px);
			content: "";
			background-color: var(--Black);
			transform: translateY(-50%) translateX(-50%);

			@media(--tablet) {
				height: calc(100% - 40px);
			}
		}

		& .box {
			position: relative;
			display: flex !important;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			width: 100%;

			@media(--tablet) {
				flex-wrap: nowrap;
				justify-content: flex-end;
			}

			& img {
				display: block;
				object-fit: contain;
				width: 80%;
				height: 250px;

				@media(--phone) {
					height: 350px;
				}

				@media(--tablet) {
					width: 50%;
					margin-left: 32px;
				}
			}

			& div.text {
				width: 90%;
				max-width: 500px;
				padding: 64px var(--Medium) var(--Large) var(--Medium);
				margin-top: -48px;
				text-align: center;

				@media(--tablet) {
					width: 60%;
					padding: var(--Large) var(--xLarge);
					margin-top: 0;
				}

				& h3 {
					margin-top: 0;
					color: var(--Tan);
				}

				& a.button {
					margin: 0;
				}

				& p {
					margin: var(--Small) 0 0 0;
					color: var(--White);
				}
			}
		}
	}
}