/*----------------------------------------------------------------*\
	JOIN GIFT
\*----------------------------------------------------------------*/
body.page-template-join-gift {
	& header.post-head {
		position: relative;
		z-index: 1;
		min-height: 100vh;
		background-color: var(--White);
		padding-top: 0;

		& img {
			object-fit: contain;
			width: auto;
			height: 150px;
			margin-top: -200px;
			margin-bottom: var(--Medium);

			@media(--phone) {
				height: 200px;
			}
		}

		& h1 {
			max-width: 800px;
			font-size: 32px;

			@media(--phone) {
				font-size: 56px;
			}

			@media(--tablet) {
				font-size: 64px;
			}

			& span {
				position: relative;
				left: 50%;
				width: 960px;
				max-width: 90vw;
				margin-top: var(--Large);
				transform: translateX(-50%);
			}
		}

		& a.button {
			margin: var(--Large) auto 0 auto;
		}
	}

	& main article nav {
		position: fixed;
		top: 50%;
		left: var(--Small);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: auto;
		transform: translateY(-50%);

		@media(--tablet) {
			left: var(--Large);
		}

		& a {
			position: relative;
			display: block;
			width: 18px;
			height: 18px;
			margin-bottom: var(--Medium);
			background-color: var(--GreyLight);
			border: 1px solid var(--Grey);
			border-radius: 50%;

			@media(--phone) {
				margin-bottom: var(--Small);
			}

			&:last-child {
				margin: 0;
			}

			& span {
				position: absolute;
				top: -1px;
				z-index: -1;
				max-width: 0;
				padding: 0 var(--Small) 0 20px;
				padding: 0;
				overflow: hidden;
				font-size: 12px;
				color: var(--GreyDark);
				background-color: var(--GreyLight);
				border-radius: 50px;
				opacity: 0;
				transition: all 0.15s linear;
			}

			&:hover,
			&:focus {
				& span {
					max-width: 200px;
					padding: 0 var(--Small) 0 20px;
					opacity: 1;
				}

				&::after {
					position: absolute;
					top: 50%;
					left: 50%;
					display: block;
					width: 10px;
					height: 10px;
					content: '';
					background-color: var(--GreyDark);
					border-radius: 50%;
					transform: translateX(-50%) translateY(-50%);
				}
			}
		}
	}

	& main article section {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
		padding-left: 32px;

		@media(--phone) {
			padding-left: 0;
		}

		&:nth-child(even) {
			background-color: #f6f5f1;
		}

		&>div {
			width: 1024px;
			max-width: 90%;
		}

		&:last-child>div {
			width: 1024px;
		}

		& h2 {
			margin-top: 0;
			margin-bottom: var(--Large);
			text-align: center;

			@media(--phone) {
				margin-bottom: var(--xLarge);
			}
		}

		&:not(:last-child) a.button {
			min-width: 250px;
			padding: var(--Small) var(--Medium);
			margin: 0 var(--Medium) var(--Medium) var(--Medium);
			font-size: 24px;
			font-weight: normal;
			color: var(--GreyDark);
			text-transform: none;
			background-color: var(--GreyLight);
			border: 1px solid var(--Grey);

			@media(--phone) {
				padding: var(--Medium) var(--Large);
			}

			&:hover,
			&:focus {
				border: 1px solid var(--BlackLight);
				box-shadow: inset 0 0 0 2px var(--BlackLight);
			}
		}

		& .options {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			margin: 0 auto;

			&>p {
				margin: var(--xLarge) 0 0 0;
				font-style: italic;
			}

			& .option {
				text-align: center;
			}

			&>p {
				display: none;
			}
		}
	}
}

#price .options {
	max-width: 600px;
}

#style {
	& .options .option {
		width: 100%;
		margin-bottom: var(--Large);

		@media(--phone) {
			width: 50%;
		}

		&:last-child .button {
			margin-bottom: 0;
		}

		& .gallery {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			& img {
				display: block;
				object-fit: cover;
				object-position: center;
				width: calc(50% - 32px);
				height: 100px;
				margin: 0 var(--Small) var(--Medium) var(--Small);

				@media(--phone) {
					height: 200px;
				}

				@media(--laptop) {
					width: 200px;
					height: 250px;
				}

				&:nth-child(3),
				&:nth-child(4) {
					display: none;

					@media(--phone) {
						display: block;
					}
				}
			}
		}

		&.is-disabled {
			position: relative;
			cursor: not-allowed;

			& .gallery,
			& a.button {
				opacity: 0.5;
			}

			& a.button {
				pointer-events: none;
			}

			& p {
				display: block;
				opacity: 1;
			}
		}

		& p {
			display: none;
			margin-bottom: 0;
			font-size: 14px;
			opacity: 0;

			@media(--phone) {
				display: block;
			}
		}
	}
}

#subscriptions {
	&>div {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;

		& .recommendations,
		& .explination {
			width: 100%;

			@media(--phone) {
				width: 46%;
			}
		}

		& .explination {
			margin: var(--Medium) 0 var(--Medium) 0;

			@media(--phone) {
				margin: 0;
			}

			& .is-hidden {
				display: none;
			}

			&>h2:first-child {
				display: block;
			}

			& p,
			& h2:not(:first-child) {
				display: none;
			}

			&.shipping-answered.pricing-answered.style-answered {
				&>h2:first-child {
					display: none;
				}

				& p,
				& h2:not(:first-child) {
					display: block;
				}
			}

			&>p:first-of-type {
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: 0.5px;
			}

			& h2 {
				margin-bottom: var(--Medium);
				font-size: 32px;
				text-align: left;

				@media(--phone) {
					margin-bottom: var(--Large);
				}
			}
		}

		& .recommendations {
			order: 2;

			@media(--phone) {
				order: 0;
			}

			& .recommendation {
				display: none;
				max-width: 350px;
				margin: 0 auto;
				border: 2px solid var(--Grey);
				border-top: 0;

				&.has-accurate-shipping.has-accurate-pricing.has-accurate-style {
					display: block;
				}

				&>div {
					width: calc(100% + 4px);
					padding: var(--Small);
					font-size: 14px;
					color: var(--White);
					text-align: center;
					text-transform: capitalize;
					background-color: var(--GreyDark);
					transform: translateX(-2px);
				}

				& img {
					display: block;
					width: calc(100% + 4px);
					height: auto;
					transform: translateX(-2px);
				}

				& h3 {
					margin: var(--Medium);
					font-size: 28px;
				}

				& p {
					margin: var(--Medium);
				}

				& a.button {
					margin: 0 var(--Medium) var(--Medium) var(--Medium);
				}
			}
		}
	}
}