/*----------------------------------------------------------------*\
	JOIN CLASSIC
\*----------------------------------------------------------------*/
body.page-template-join-classic {
	& header.post-head {
		& h1 {
			color: var(--Blue);

			& span {
				color: var(--BlackLight);
				max-width: 600px;
				margin: var(--Medium) auto;
			}
		}

		& a.button {
			margin: var(--Large) 0 0 0;
		}

		& p {
			color: var(--BlackLight);
			font-size: 14px;
		}
	}

	& main>article {
		@media(--tablet) {
			margin-top: var(--xLarge);
		}
	}

	& section.past-boxes {
		& button.slick-arrow.slick-prev {
			left: 0;

			@media(--tablet) {
				left: 50%;
			}

			@media(--laptop) {
				left: calc(50% - 48px);
			}
		}

		& button.slick-arrow.slick-next {
			right: 0;
		}

		& .boxes {
			margin: 0 auto var(--xLarge) auto;

			&::after {
				background-color: var(--Blue);
			}

			& .box {
				justify-content: center;

				@media(--tablet) {
					justify-content: flex-start;
				}

				& img {
					order: 2;
					margin-right: 0;
					margin-left: 0;

					@media(--tablet) {
						margin-right: 32px;
					}
				}

				& div.text {
					order: 2;
					height: auto;
					background-color: var(--BlueLight);

					@media(--tablet) {
						order: 0;
						background-color: transparent;
					}

					& h2 {
						margin: 0 0 var(--Small) 0;
						font-family: Roboto;
						font-size: 16px;
						font-weight: 400;
						line-height: 1.5;
						color: var(--BlackLight);

						@media(--tablet) {
							color: var(--White);
						}
					}

					& h3 {
						margin-bottom: 0;
						color: var(--BlackLight);

						@media(--tablet) {
							color: var(--White);
						}
					}

					& p {
						color: var(--BlackLight);

						@media(--tablet) {
							color: var(--White);
						}
					}

					& a.button {
						margin-top: var(--Large);
					}
				}
			}
		}
	}

	& section.process {
		max-width: 90%;
		margin: 0 auto;

		&>h2 {
			max-width: 1024px;
			margin: 0 auto;
			text-align: center;
		}

		&>svg {
			display: block;
			width: 40px;
			height: 40px;
			margin: var(--Large) auto 0;
		}

		& .how-it-works {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-content: center;
			justify-content: center;
			max-width: 1024px;
			margin: var(--xLarge) auto 0 auto;

			@media(--tablet) {
				justify-content: flex-end;
			}

			&>img {
				width: 80%;
				max-width: 400px;
				height: auto;
				height: intrinsic;

				@media(--tablet) {
					position: absolute;
					left: 0;
					width: calc(50% - 16px);
					max-width: 100%;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			& div.text {
				width: 90%;
				max-width: 500px;
				padding: 96px var(--Medium) var(--Large) var(--Medium);
				margin-top: -64px;
				background-color: var(--Blue);

				@media(--tablet) {
					width: calc(50% + 64px);
					max-width: 100%;
					padding: var(--Large) var(--Medium);
					padding-left: calc(var(--Medium) + 64px);
					margin-top: 0;
				}

				& h2 {
					margin: 0 0 var(--Medium) 0;
					color: var(--Tan);
				}

				&>a.button {
					display: table;
					margin: 64px auto 0 auto;
					transform: none;

					@media(--tablet) {
						transform: translateX(-32px);
					}

					&:hover,
					&:focus {
						color: var(--White);
						background-color: #1d3549;
					}

					&+p {
						margin: var(--Small) 0 0 0;
						font-size: 14px;
						color: var(--White);
						text-align: center;
						transform: none;

						@media(--tablet) {
							transform: translateX(-32px);
						}
					}
				}

				&>div {
					position: relative;
					padding-left: 80px;
					margin-bottom: var(--Large);

					& img {
						position: absolute;
						top: 8px;
						left: 0;
						width: 64px;
						height: 64px;
					}

					& h3 {
						margin: 0;
						font-family: Roboto;
						font-size: 24px;
						color: var(--White);
						text-transform: uppercase;
						letter-spacing: 1px;
					}

					& p {
						margin: 0;
						color: var(--White);
					}
				}
			}
		}
	}

	& section.testimonies-wrap {
		position: relative;
		margin: var(--xLarge) 0;

		&::after {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			display: block;
			width: 100%;
			height: 90%;
			content: "";
			background-color: var(--BlueLight);

			@media(--tablet) {
				top: 50%;
				bottom: auto;
				transform: translateY(-50%);
			}
		}

		& .container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			width: 90%;
			max-width: 1024px;
			margin: 0 auto;

			@media(--tablet) {
				justify-content: space-between;
			}

			&>img {
				width: 90%;
				max-width: 300px;

				@media(--tablet) {
					width: 48%;
					max-width: 450px;
				}
			}

			& .testimonies {
				order: 1;
				width: 100%;

				@media(--tablet) {
					order: 0;
					width: 48%;
				}

				& button.slick-arrow {
					padding: 0;
					margin: 0;
					background-color: transparent;
					border: transparent;

					& svg {
						width: 2em;
						height: 2em;
						filter: brightness(0) invert(1);
						-webkit-filter: brightness(0) invert(1);
					}

					&.slick-prev {
						position: absolute;
						top: 50%;
						left: 0;
						z-index: 2;
						transform: translateY(-50%);
					}

					&.slick-next {
						position: absolute;
						top: 50%;
						right: 0;
						z-index: 2;
						transform: translateY(-50%);
					}
				}

				& .slick-slide {
					display: flex;
					align-items: center;
				}

				& .testimony {
					padding: var(--Large);

					& .star-rating {
						width: 200px;
						margin: 0 auto;

						& svg {
							width: calc(20% - 20px);
							margin: 8px;
							fill: var(--GreyDark);
						}
					}

					& p {
						position: relative;
						padding: 0 var(--Large);
						margin-bottom: 0;
						font-size: 16px;
						text-align: center;

						&::before {
							position: absolute;
							top: -32px;
							left: 0;
							display: block;
							font-size: 56px;
							content: "“";
						}

						&::after {
							position: absolute;
							right: 0;
							bottom: 8px;
							display: block;
							font-size: 56px;
							content: "”";
						}

						& span {
							display: block;
							margin-top: var(--Medium);
							font-family: PlayfairDisplay;
							font-size: 24px;
							font-weight: 700;
							text-align: right;
						}
					}
				}
			}
		}
	}

	& section.support {
		padding: 120px var(--Medium) 0 var(--Medium);
		margin: 0;
		text-align: center;
		background-color: var(--White);

		& h2 {
			margin: 0 0 48px 0;
		}

		& .button {
			margin: 0 var(--Medium) var(--Medium) 0;

			@media(--tablet) {
				margin: 0 0 var(--Medium) 0;
			}

			&:last-child {
				margin: 0;
			}
		}
	}
}

section.community {
	margin-top: 120px;

	&>div:first-child {
		width: 90%;
		max-width: 1024px;
		margin: 0 auto;
		text-align: center;

		& h2 {
			margin-bottom: 0;
			font-size: 32px;
			background-color: transparent;
		}

		& svg {
			display: block;
			width: 40px;
			height: 40px;
			margin: var(--Large) auto 0;
		}

		& .buttons {
			margin: var(--xLarge) 0 var(--Large) 0;

			& .button {
				width: 310px;
				margin: 0 0 var(--Medium) 0;

				@media(--phone) {
					margin: 0 var(--Medium) var(--Medium) 0;
				}

				&:last-child {
					margin: 0;
				}
			}
		}
	}

	& div.community-gallery {
		position: relative;
		width: 80%;
		max-width: 1024px;
		margin: var(--xLarge) auto 0 auto;

		@media(--phone) {
			width: 90%;
		}

		&::after {
			position: absolute;
			top: 35%;
			right: 0;
			left: 50%;
			z-index: -1;
			display: block;
			width: 100vw;
			height: 65%;
			content: "";
			background-color: var(--BlueLight);
			transform: translateX(-50vw);
		}

		& button.slick-arrow {
			padding: 0;
			margin: 0;
			background-color: transparent;
			border: transparent;

			& svg {
				width: 2em;
				height: 2em;
			}

			&.slick-prev {
				position: absolute;
				top: 50%;
				left: 0;
				z-index: 2;
				transform: translateY(-50%) translateX(-100%);
			}

			&.slick-next {
				position: absolute;
				top: 50%;
				right: 0;
				z-index: 2;
				transform: translateY(-50%) translateX(100%);
			}
		}
	}

	& .slick-slide {
		padding: 0 var(--Medium);
	}

	& .member {
		& img {
			object-fit: cover;
			width: 100%;
			height: 350px;
		}

		& p {
			width: 100%;
			padding: var(--Medium) var(--Small);
			margin: 0;
			text-align: center;
			background-color: var(--White);

			& svg {
				display: inline-block;
				width: 1.5em;
				height: 1.5em;
				margin-right: 4px;
				vertical-align: middle;
				fill: var(--GreyDark);
			}
		}
	}

	& a {
		text-decoration: none;
	}

	& h2 {
		padding: var(--xLarge) 0;
		margin: 0;
		text-align: center;
		background-color: var(--BlueLight);
	}
}