/*----------------------------------------------------------------*\
	EVENT AND HOLIDAY LANDING PAGE
\*----------------------------------------------------------------*/
body.page-template-landing-event {
  & header.post-head {
    & h1 {
      max-width: 800px;

      & span {
        margin: 0;
        font-family: 'PlayfairDisplay';
        font-size: inherit;
        line-height: 1.15;
      }
    }
  }

  & section.product-cards {
    position: relative;
    padding-bottom: 64px;

    &::before {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      display: block;
      height: 80%;
      content: '';
      background-color: #f6f5f1;

      @media(--tablet) {
        height: 50%;
      }
    }

    & .options {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 90%;
      max-width: 960px;
      margin: 0 auto;

      & .option {
        width: 100%;
        padding: var(--Large);
        margin-bottom: var(--Medium);
        text-align: center;
        background-color: var(--White);

        @media(--tablet) {
          width: 32%;
          margin: 0;
        }

        & img {
          display: inline-block;
          width: 96px;
          height: 96px;
          margin-bottom: 24px;
        }

        & h2 {
          margin: 0;
          font-size: 28px;
        }

        & a.button {
          margin: 0;
        }
      }
    }

    & > a.button {
      display: table;
      margin: var(--xLarge) auto;
    }
  }

  & section.coupon {
    display: block;
    align-items: center;
    max-width: 960px;
    margin: 0;

    @media(--tablet) {
      display: flex;
      margin: var(--xLarge) auto;
    }

    & img {
      display: block;
      object-fit: cover;
      min-width: 100%;

      @media(--phone) {
        min-width: 60%;
      }
    }

    & p {
      padding: var(--xLarge) var(--Large);
      margin: 0;
      font-size: 24px;
      color: var(--White);
      background-color: var(--GreyDark);
    }
  }

  & section.community {
    max-width: 90%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;

    & h2 {
      padding: 0;
      background-color: transparent;
    }

    & .community-gallery {
      padding-bottom: 120px;

      &::after {
        background-color: #f6f5f1;
      }
    }
  }

  & section.media_content {
    display: block;
    max-width: 1200px;
    margin: 0 auto;

    @media(--phone) {
      display: flex;
    }

    & img {
      object-fit: cover;
      width: 100%;

      @media(--phone) {
        width: 50%;
      }
    }

    & .content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: var(--Large);

      @media(--phone) {
        width: 50%;
      }
    }

    &:nth-of-type(even) {
      & img {
        order: 2;
      }

      & .content {
        order: 1;
      }
    }
  }

  & section.support {
    padding: 120px var(--Medium) 0 var(--Medium);
    margin: 0;
    text-align: center;
    background-color: var(--White);

    & h2 {
      max-width: 600px;
      margin: 0 auto 64px auto;
    }

    & .button {
      margin: 0 0 var(--Medium) 0;

      @media(--tablet) {
        margin: 0 var(--Medium) 0 0;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}
