/*----------------------------------------------------------------*\
	ORDER CONFIRMATION TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-order-confirmation,
body.woocommerce-order-received {
	& header.post-head {
		& h1 {
			font-size: 48px;
		}
	}

	& main article {
		position: relative;
		margin-top: 0;
		margin-bottom: 120px;

		& .woocommerce {
			max-width: 100%;
			margin: 0 auto;
			width: 100%;
		}

		&>img {
			display: block;
			width: auto;
			height: 250px;
			margin: var(--xLarge) auto;
		}

		& .woocommerce-order {

			& img.animated-gif {
				display: block;
				width: auto;
				height: 250px;
				margin: var(--xLarge) auto;
			}

			& p.woocommerce-notice--error,
			& p.woocommerce-thankyou-order-failed-actions {
				width: 90%;
				max-width: 650px;
				margin: var(--Medium) auto;
				text-align: center;
			}

			& p.woocommerce-notice--success {
				width: 90%;
				max-width: 650px;
				margin: var(--Medium) auto;
			}

			& ul.woocommerce-thankyou-order-details {
				max-width: 650px;
				width: 90%;
				margin: var(--Large) auto;
			}
		}

		& section.woocommerce-order-details,
		& section.woocommerce-customer-details {
			max-width: 90%;
			margin: 0 auto;
		}

	}

	& section.next-steps {
		position: relative;
		padding-bottom: 120px;
		background-color: #f6f5f1;
		width: 100%;
		padding: var(--Large) var(--Medium) var(--xLarge) var(--Medium);
		margin: var(--xLarge) auto;

		& h2 {
			text-align: center;
			margin-top: 0;
		}

		& .cards {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			max-width: 960px;
			margin: 0 auto;

			& .card {
				width: 100%;
				padding: var(--Large);
				margin-bottom: var(--Medium);
				text-align: center;
				background-color: var(--White);

				@media(--phone) {
					width: 46%;
					margin-bottom: 0;
				}

				& h3 {
					margin-top: 0;
					font-size: 28px;
				}

				& p {
					margin-bottom: var(--Large);
					font-size: 14px;
				}

				& a.button {
					display: table;
					margin: 0 auto;
				}
			}
		}
	}
}