/*----------------------------------------------------------------*\
	SINGLE GOAL TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-single-goal-landing {
  & header.post-head {
    & h1 span {
      margin: var(--Large) auto;
    }

    & a.button {
      margin: 0 auto;
    }

    & svg {
      margin-top: var(--xLarge);
    }
  }

  & main > article {
    margin-top: var(--Large);
  }

  & section.cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    padding: var(--Large) 0;
    margin: 0 auto;

    &::after {
      position: absolute;
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: -1;
      display: block;
      width: 100vw;
      height: 75%;
      content: '';
      background-color: #f6f5f1;
      transform: translateX(-50%);

      @media(--tablet) {
        height: 60%;
      }
    }

    & .card {
      width: 100%;
      padding: var(--Large) var(--Medium);
      margin-bottom: var(--Medium);
      text-align: center;
      background-color: var(--White);

      @media(--phone) {
        width: 48%;
      }

      @media(--tablet) {
        width: 23%;
        margin-bottom: 0;
      }

      & h2 {
        font-size: 20px;
      }

      & img {
        display: inline-block;
        object-fit: contain;
        width: 80px;
        height: 80px;
      }

      & p {
        margin-bottom: 0;
      }
    }

    & a.button {
      margin: var(--xLarge) auto 0 auto;
    }
  }

  & section.tiers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    max-width: 1200px;
    padding: 96px 0 var(--xLarge) 0;
    margin: 0 auto;

    &::after {
      position: absolute;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      display: block;
      width: 100vw;
      height: 70%;
      content: '';
      background-color: #f6f5f1;
      transform: translateX(-50%);

      @media(--tablet) {
        height: 50%;
      }
    }

    & .tier {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: var(--xLarge);
      background-color: var(--White);

      @media(--phone) {
        width: 48%;
      }

      @media(--tablet) {
        width: 31%;
        margin-bottom: 0;
      }

      & .badge {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding: var(--Small);
        font-size: 14px;
        font-weight: 700;
        color: var(--Black);
        text-align: center;
        text-transform: uppercase;
        background-color: var(--Tan);
        transform: translateY(-100%);
      }

      & h2 {
        flex-grow: 0;
        margin: var(--Medium) 0;
        font-size: 32px;
        text-align: center;
      }

      & img {
        flex-grow: 0;
        width: 100%;
        height: auto;
      }

      & .description {
        flex-grow: 1;
        padding: 0 var(--Medium);
      }

      & a.button {
        flex-grow: 0;
        margin: var(--Medium) var(--Large) 0 var(--Large);
        text-align: center;

        & + p {
          flex-grow: 0;
          font-size: 12px;
          font-style: italic;
          text-align: center;
        }
      }
    }
  }

  & section.media-text {
    padding: var(--xLarge) 0;
    margin: var(--xLarge) 0 0 0;
    background-color: #f6f5f1;

    & div.row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 90%;
      max-width: 1024px;
      margin: 0 auto;
      background-color: var(--White);

      & img {
        position: relative;
        left: 0;
        width: 100%;
        height: 100%;

        @media(--phone) {
          left: -32px;
          width: 60%;
        }
      }

      & > div {
        width: 100%;
        padding: var(--Medium);

        @media(--phone) {
          width: 40%;
          padding: 32px 32px 32px 0;
        }

        & blockquote cite {
          margin-right: var(--Medium);
          font-size: 32px !important;
          text-align: right !important;
        }
      }

      &:nth-child(even) {
        & img {
          @media(--phone) {
            left: 32px;
            order: 2;
          }
        }

        & > div {
          @media(--phone) {
            padding: 32px 0 32px 32px;
          }
        }
      }
    }
  }

  & section.banner {
    padding: var(--xLarge) 0;
    text-align: center;
    background-color: #4a4a4a;

    & h2 {
      max-width: 800px;
      margin: 0 auto var(--xLarge) auto;
      font-size: 24px;
      color: var(--White);

      @media(--tablet) {
        font-size: 32px;
      }

      @media(--tablet) {
        font-size: 48px;
      }
    }

    & a.button {
      margin: 0;
    }
  }
}
