/*----------------------------------------------------------------*\
		PRODUCT
\*----------------------------------------------------------------*/
body.single-product {
	& main>.product {
		width: 95%;
		max-width: 1024px;
		margin: 15vh auto 0 auto;
	}

	& span.sale {
		position: absolute;
		top: 0;
		left: 52.3%;
		display: inline-block;
		padding: 4px var(--Medium);
		font-family: Roboto;
		font-size: 10px;
		font-weight: 400;
		line-height: 1.5;
		color: var(--White);
		text-transform: uppercase;
		letter-spacing: 1px;
		background-color: var(--Grey);
		border-radius: 0;
		transform: translateY(calc(-100% - 8px));
	}

	& .woocommerce-product-gallery__image:nth-child(n+2) {
		width: 33% !important;
		padding: var(--Small);
	}

	& .summary {
		& h1 {
			margin: 0;
			font-size: 40px;

			& span {
				font-style: italic;
				font-weight: normal;
			}
		}

		& .price {
			margin: 0;
			margin: var(--Medium) 0;
			font-family: 'Roboto';
			font-size: 24px !important;
			font-weight: normal !important;
			color: var(--GreyDark) !important;

			& del {
				color: var(--Grey) !important;
			}

			& ins {
				font-weight: normal !important;
				text-decoration: none;
			}
		}

		& h3 {
			margin: 24px 0 0 0;
			font-size: 24px;
			color: var(--GreyDark);
		}

		& ul {
			padding: 0 0 0 var(--Small);
			margin: var(--Small) 0 0 0;

			& li {
				padding: 0;
				background-image: none;
			}
		}

		& .stock {
			display: none;

			&.out-of-stock {
				display: block;
				font-weight: 800;
				font-size: 24px;
				font-family: 'PlayfairDisplay';
				margin: 24px 0 64px 0;
			}
		}

		& form {
			margin: var(--xLarge) 0 24px 0 !important;

			& .quantity {
				display: flex;
				margin-right: var(--Large) !important;

				& button.positive {
					display: inline-block;
					padding: 0 var(--Medium);
					margin: 0;
					font-family: 'Roboto';
					font-size: 24px;
					font-weight: 400;
					line-height: 1;
					background-color: transparent;
					border: 1px solid var(--Grey);
					border-right: 0;
					border-radius: 4px 0 0 4px;
				}

				& button.negative {
					display: inline-block;
					padding: 0 var(--Medium);
					margin: 0;
					font-family: 'Roboto';
					font-size: 24px;
					font-weight: 400;
					line-height: 1;
					background-color: transparent;
					border: 1px solid var(--Grey);
					border-left: 0;
					border-radius: 0 4px 4px 0;
				}

				& input {
					width: 50px;
					padding: 7px 0;
					font-family: 'Roboto';
					font-size: 18px;
					font-weight: 700;
					appearance: textfield;

					-webkit-appearance: none;
					-moz-appearance: textfield;
				}
			}
		}

		& ul.social-share {
			display: flex;
			margin: 0;

			&:before {
				display: inline-block;
				margin-right: 12px;
				content: 'Share with friends:';
			}

			& li {
				margin: 0 8px 0 0;

				& svg {
					display: inline-block;
					width: 18px;
					height: 18px;
					vertical-align: sub;
				}
			}
		}
	}

	& .first-payment-date {
		display: none;
	}

	& h3.included {
		position: relative;
		width: 95%;
		max-width: 1024px;
		padding: 0 0 var(--Small);
		padding-top: var(--xLarge);
		margin: 0 auto var(--Large) auto;
		overflow: hidden;
		clear: both;
		font-size: 24px;
		border-bottom: 2px solid var(--Grey);
	}

	& .tab-included-products {
		width: 95%;
		max-width: 1024px;
		margin: 0 auto;

		& li {
			margin-bottom: var(--Large) !important;
		}

		&+.woocommerce-Reviews {
			padding-top: 0;
		}
	}

	& .woocommerce-Reviews {
		width: 95%;
		max-width: 1024px;
		padding-top: var(--xLarge);
		margin: 0 auto var(--xLarge) auto;
		clear: both;

		&+.featured-products {
			padding-top: 120px;
		}

		& h2 {
			position: relative;
			padding: 0 0 var(--Small) 0;
			margin: 0 0 var(--Large) 0;
			overflow: hidden;
			font-size: 24px;
			text-indent: -999px;
			border-bottom: 2px solid var(--Grey);

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				text-indent: 0;
				content: 'Reviews';
			}
		}

		& ol {
			width: 95% !important;
			max-width: 800px;
			padding: 0;
			margin: 0 auto !important;

			& li {
				&::before {
					display: none;
				}

				& img {
					display: none;
				}

				& .comment-text {
					margin: 0 !important;
				}
			}
		}

		& p.woocommerce-verification-required {
			width: 95% !important;
			max-width: 800px;
			padding: 0;
			margin: 0 auto !important;
			font-size: 14px;
		}

		& #review_form_wrapper {
			width: 95% !important;
			max-width: 800px;
			padding: 0;
			margin: var(--Large) auto 0 auto !important;

			& input,
			& textarea {
				font-family: 'Roboto';
			}
		}
	}
}