/*----------------------------------------------------------------*\
	MISCELLANEOUS WOOCOMMERCE PAGES, SECTIONS, AND ELEMENTS
\*----------------------------------------------------------------*/
.woocommerce-message {
	& .button {
		display: block;
		float: none;
		margin: 0 0 var(--Medium) 0;
		text-align: center;

		@media(--phone) {
			float: right;
			margin: 0;
		}
	}
}

.woocommerce-error li {
	background-image: none;
}

.woocommerce-edit-address ul li {
	background-image: none;
}

.select2-selection {
	height: 45px !important;
	padding: 8px 4px;
}

.select2-selection__arrow {
	top: 10px !important;
}

/*-----------------------------------*\
	CART ADDONS
\*-----------------------------------*/
body.page-template-cart-addon {
	& .woocommerce-noticies {
		max-width: 1024px;
		margin: 0 auto;

		& a.button {
			display: none;
		}
	}

	& article>nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 1200px;
		padding: 0 var(--Large);

		@media(--phone) {
			flex-wrap: nowrap;
		}

		& a:first-child {
			color: var(--GreyDark);
			text-decoration: none;

			& svg {
				position: relative;
				top: -2px;
				height: 2em;
				margin-right: var(--Small);
				vertical-align: middle;
			}

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}

		& a.button {
			width: 100%;
			margin: var(--Large) 0 0 0;
			color: var(--White);
			text-align: center;
			background-color: var(--GreyDark);

			@media(--phone) {
				width: auto;
				margin: 0;
			}

			&:hover,
			&:focus {
				color: var(--White);
				background-color: var(--Grey);
			}
		}
	}

	& .addon-products {
		position: relative;
		padding: var(--xLarge) 0;
		margin: 0 auto;

		&::after {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			display: block;
			height: 55%;
			content: '';
			background-color: #f6f5f1;
		}

		& .products {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 90%;
			max-width: 1200px;
			padding: 0 var(--Large);
			margin: 0 auto;

			& .product {
				width: 100%;
				height: auto;
				margin-bottom: 110px;

				@media(--phone) {
					width: 48%;
				}

				@media(--tablet) {
					width: 22%;
					margin-bottom: 0;
				}

				& a.button {
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					margin: 0;
					text-align: center;
					transform: translateY(calc(100% + var(--Medium)));
				}
			}
		}
	}
}

/*-----------------------------------*\
	CART
\*-----------------------------------*/
body.woocommerce-cart {
	& ul li {
		background-image: none;
	}

	& .actions button {
		padding: 6px 32px;
		font-family: Roboto;
		font-size: 14px;
		font-weight: 700;
		line-height: 1.75;
		color: var(--Black);
		text-transform: uppercase;
		letter-spacing: 1px;
		cursor: pointer;
		background-color: var(--Tan);
		border: 0;
		border-radius: 0;
		outline: none;
		transition: all 0.15s linear;
	}

	& table {
		table-layout: fixed;
	}

	& table.cart td.actions .coupon {
		display: flex;
	}

	& table.cart td.actions .coupon .input-text {
		width: 100%;

		&+button {
			flex-shrink: 0;
		}
	}

	& .cross-sells {
		display: none;

		@media(--phone) {
			display: block;
		}
	}

	& .wc-proceed-to-checkout a.button {
		display: table;
	}

	& .product-remove a.remove {
		color: var(--RedLight) !important;
		transition: all 0.15s linear;

		&:hover,
		&:focus {
			color: var(--White) !important;
			background-color: var(--RedLight) !important;
		}
	}

	& .product-name a {
		color: var(--GreyDark);
		text-decoration: none;

		&:hover,
		&:focus {
			color: #2a4d69;
			text-decoration: underline;
		}
	}

	& .cart_totals table {

		& .woocommerce-shipping-methods li {
			padding: 0;

			&:last-child {
				margin-bottom: 0 !important;
			}
		}

		& .woocommerce-shipping-destination {
			display: none;
		}

		& .recurring-totals,
		& .recurring-total {
			display: none;
		}
	}

	& #pay_with_amazon {
		margin: var(--Medium) 0 0 0;
		text-align: left;
	}
}

/*-----------------------------------*\
	CHECKOUT
\*-----------------------------------*/
body.woocommerce-checkout {
	& ul li {
		background-image: none;
	}

	& main article>.woocommerce {
		max-width: 960px;
		margin: 0 auto;
	}

	& table.woocommerce-checkout-review-order-table {

		& .woocommerce-shipping-methods li {
			padding: 0;

			&:last-child {
				margin-bottom: 0 !important;
			}
		}

		& .recurring-totals,
		& .recurring-total {
			display: none;
		}
	}
}

.kl_newsletter_checkbox_field label {
	font-size: 12px;

	& span.optional {
		display: none;
	}
}

.cwcfp-after-conditional-field-group {
	font-size: 12px;
}

.woocommerce-billing-fields h3:first-of-type,
.woocommerce-shipping-fields h3:first-of-type {
	margin-top: 0;
}

#ship-to-different-address {
	& label {
		cursor: default;
		pointer-events: none;
		margin: 0;

		& input {
			display: none;
		}

		& span {
			position: relative;
			color: var(--BlackLight);
			font-size: 28px;

			@media(--phone) {
				font-size: 32px;
			}

			/* &::before {
				position: relative;
				display: inline-block;
				width: 35px;
				height: 18px;
				margin-right: 8px;
				content: "";
				background: var(--Grey);
				border-radius: 8px;
				transition: all 0.15s linear;
			}

			&::after {
				position: absolute;
				top: 50%;
				left: 2px;
				display: block;
				width: 14px;
				height: 14px;
				margin-top: -6px;
				content: "";
				background: var(--White);
				border-radius: 50%;
				transition: all 0.15s linear;
			} */
		}

		/* &.is-active {
			& span {
				&:before {
					background-color: #8fae1b;
				}

				&:after {
					left: 19px;
				}
			}
		} */
	}
}

ul.woocommerce-order-overview {
	padding: 0;
}

.woocommerce form .form-row {
	margin: 0 0 var(--Medium) 0;
}

.conditional_checkout_field_pro_field_title {
	display: inline-block;
	margin-bottom: var(--Small);
	font-size: 0.875em;
	color: var(--GreyDark);
	text-transform: capitalize;
}

.cwcfp-after-conditional-field-group {
	position: relative;
	top: -16px;
	display: inline-block;
	padding-left: var(--Small);
	margin-bottom: var(--Small);
	font-size: 0.875em;
	color: var(--GreyDark);
}

.woocommerce-info.legal-message {
	padding: 24px;
	margin: 48px 0;

	&::before {
		display: none;
	}
}

.woocommerce-checkout-payment a.button {
	display: table;
}

ul.payment_methods {
	& li {
		padding: 0;
		background-image: none;
	}
}

/*-----------------------------------*\
	ACCOUNT
\*-----------------------------------*/

body.woocommerce-account {
	& article>.woocommerce {
		width: 90vw;
		width: 1024px;
		margin: 0 auto;
	}

	& nav.woocommerce-MyAccount-navigation {
		& ul {
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			margin: 0;
			margin-bottom: var(--xLarge);

			& li {
				padding: 0;
				background-image: none;

				& a {
					display: inline-block;
					padding: var(--Small) var(--Large);
					margin: 0 var(--Medium) 0 0;
					font-family: 'Roboto';
					font-size: 14px;
					font-weight: 700;
					line-height: 1.75;
					color: #fff;
					text-decoration: none;
					text-transform: uppercase;
					letter-spacing: 1px;
					cursor: pointer;
					background-color: var(--Grey);
					border: 0;
					border-radius: 0;
					outline: none;
					transition: all 0.15s linear;

					&:hover,
					&:focus {
						color: #fff;
						background-color: var(--GreyDark);
					}
				}

				&.is-active a {
					color: #fff;
					background-color: var(--GreyDark);
				}
			}
		}
	}
}

ul.woocommerce-thankyou-order-details li,
ul.select2-results__options li {
	background-image: none;
}

#billing_country_field {
	float: left;
	width: 47%;
	overflow: visible;
}

/*-----------------------------------*\
	DASHBAORD
\*-----------------------------------*/
.woocommerce table a {
	color: inherit;
}

table.subscription_details+p {
	padding: 0 var(--Small);
}

.woocommerce-MyAccount-content button[type='submit'] {
	margin-top: var(--Large);
}

.woocommerce-MyAccount-content .form-row ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	padding: 0;
	margin: 0;
	list-style: none;

	& li {
		height: auto;
		padding: 0;
		margin: 0 var(--Large) 0 0;
		background-image: none;

		& label {
			margin: 0;
		}
	}
}

/* hide payment methods for now */
.woocommerce-MyAccount-navigation-link--payment-methods {
	display: none;
}

/*-----------------------------------*\
	ADDRESS
\*-----------------------------------*/
.woocommerce-account .addresses .title h3 {
	margin: 8px 0 0 0;
	float: none;

	&+a {
		float: none !important;
		margin: 8px 0 24px 0;
		display: table;
	}
}

.woocommerce-account .support-message {
	margin-top: 0;

	&+hr {
		margin: 48px auto;
		border: 0;
		background-color: var(--Grey);
		height: 2px;
	}
}