/*-----------------------------------*\
	COOKIE CONSENT
\*-----------------------------------*/
.cookie-useage-notification {
	width: 100%;
	background-color: var(--TanDark);
	max-height: 0;
	overflow: hidden;

	&.note-on {
		max-height: 100vh;
	}

	&>div {
		margin: 0 auto;
		max-width: 1169px;
		width: 95%;
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		padding: var(--Small) 0;

		@media(--tablet) {
			padding: var(--xSmall) 0;
		}
	}

	& p {
		color: var(--White);
		font-weight: 100;
		font-size: 14px;
		letter-spacing: .5px;
		margin: 0;
	}

	& a {
		color: var(--White);
		text-decoration: underline;

		&:hover,
		&:focus {
			color: var(--White);
		}
	}

	& button {
		padding: 0;
		background-color: transparent;

		& svg {
			width: 32px;
			height: 32px;
			display: block;
			fill: var(--White);
		}
	}
}