/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
body {
	padding-top: 76px;
}

.primary-navigation {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 800000;
	background-color: var(--White);
	border-bottom: 2px solid var(--GreyDark);

	& nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 95vw;
		max-width: 1200px;
		margin: 0 auto;

		@media(--tablet) {
			width: 98vw;
		}

		& a {
			padding: 0.5em 1em;
			margin: 0 0.25em;
		}

		& button {
			padding: 0.5em 1em;
			margin: 0 0.25em;
			font-family: 'Roboto';
			font-weight: 400;
			text-transform: none;
			cursor: pointer;
			background: transparent;
			border: none;
			box-shadow: none;
		}

		&>button {
			font-size: 16px !important;

			@media(--tablet) {
				font-size: 18px !important;
			}
		}

		& a,
		& button {
			position: relative;
			display: flex;
			align-items: center;
			font-size: 20px;
			line-height: 1.5;
			color: var(--BlackLight);
			text-align: center;
			text-decoration: none;
			transition: all 0.15s linear;

			@media(--phone) {
				font-size: 16px;
			}

			@media(--tablet) {
				font-size: 18px;
			}

			&:after {
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 2px;
				content: '';
				background: transparent;
				transition: all 0.15s linear;
			}

			&:hover,
			&:focus {
				color: var(--BlackLight);
				outline: none;

				&:after {
					background: var(--BlackLight);
				}
			}
		}

		& svg {
			display: block;
			width: 22px;
			height: 22px;
		}

		& img {
			width: auto;
			height: 56px;
			margin-right: auto;
		}

		& a.logo {
			padding: 0.5em 0;
			margin-right: auto;

			& img {
				object-fit: cover;
				object-position: left center;
				width: 56px;

				@media(--tablet) {
					object-fit: contain;
					width: auto;
				}
			}

			&::after {
				display: none;
			}
		}

		&>button.join-toggle {
			box-shadow: inset 0 0 0 2px var(--BlackLight);

			@media(--phone) {
				box-shadow: none;
			}
		}

		& button.mobile-menu-toggle {
			display: inline-block;
			color: #fff;
			background-color: #636363;

			@media(--phone) {
				display: none;
			}
		}

		& .mobile-wrap {
			position: absolute;
			top: 72px;
			right: 0;
			z-index: 999;
			display: block;
			width: 100vw;
			height: 100vh;
			padding-top: var(--Large);
			background-color: white;
			transition: all 0.35s linear;
			transform: translateX(100%);

			&.is-active {
				transform: translateX(0);
			}

			@media(--phone) {
				position: initial;
				display: inline-flex;
				width: auto;
				height: auto;
				padding-top: 0;
				background-color: transparent;
				transform: none;

				&>button.join-toggle {
					display: none;
				}
			}

			& a,
			& button {
				display: block;
				width: 100%;
				padding: var(--Medium) 0;
				margin: 0 0 var(--Small) 0;
				text-align: center;

				@media(--phone) {
					display: flex;
					width: auto;
					padding: 0.5em 1em;
					margin: 0 0.25em;
				}
			}

			& a.account,
			& a.cart,
			& button.search-toggle {
				position: relative;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 32.5%;
				padding: 0;
				margin: var(--Large) 0 0 0;
				border: 0;

				@media(--phone) {
					padding: 0.5em 1em;
					margin: 0 0 var(--xSmall);
				}

				&:after {
					display: none;
				}

				& .counter {
					position: absolute;
					top: 0;
					right: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 16px;
					height: 16px;
					font-size: 10px;
					color: white;
					text-align: center;
					background-color: #ac2d30;
					border-radius: 50%;
				}

				& svg {
					transition: all 0.15s linear;
					fill: var(--BlackLight);
				}

				&:hover,
				&:focus {
					& svg {
						fill: var(--Black);
					}
				}

				@media(--phone) {
					width: auto;
				}
			}

			@media(--phone) {
				& a.account {
					padding-left: 2em;
					border-left: 2px solid var(--Grey);
				}
			}
		}
	}
}

/*-----------------------------------*\
	SEARCH POPUP
\*-----------------------------------*/
.search-popup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.65);
	opacity: 0;

	&.is-active {
		z-index: 1000;
		opacity: 1;
	}

	&>div {
		position: relative;
		width: 90%;
		max-width: 600px;

		&>button {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
			padding: 0;
			margin: 0;
			cursor: pointer;
			background-color: transparent;
			border: 0;
			box-shadow: none;

			& svg {
				display: block;
				width: 48px;
				height: 48px;
				fill: white;
			}
		}

		& form {
			padding: 96px 0;

			& label {
				padding: 0;
				margin-bottom: var(--Large);
				font-family: PlayfairDisplay;
				font-size: 24px;
				font-weight: 700;
				color: white;
				letter-spacing: 1px;

				@media(--phone) {
					font-size: 40px;
				}
			}

			& input {
				width: 100%;
				padding: var(--Small);
				font-size: 18px;
			}

			& button {
				margin: var(--Medium) 0 0 0;
			}
		}
	}
}

/*-----------------------------------*\
	JOIN & Gift POPUP
\*-----------------------------------*/
.join-popup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5vh;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;

	@media(--phone) {
		padding: 0;
	}

	&.is-active {
		z-index: 10000000;
		opacity: 1;
	}

	&>div {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		width: 90%;
		max-width: 800px;

		&>button {
			position: absolute;
			top: -48px;
			right: 0;
			padding: 0;
			margin: 0;
			cursor: pointer;
			background-color: transparent;
			border: 0;
			box-shadow: none;

			@media(--tablet) {
				right: -48px;
			}

			& svg {
				display: block;
				width: 48px;
				height: 48px;
				fill: white;
			}
		}

		& .classic {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			padding: var(--Medium);
			padding: 0;
			margin-bottom: var(--xLarge);
			margin-bottom: var(--Large);
			text-align: center;
			background-color: #f6f5f1;
			order: 2;

			@media(--phone) {
				padding: var(--Medium);
				margin-bottom: var(--xLarge);
				order: 1;
			}

			@media(--tablet) {
				display: block;
				width: 50%;
				max-width: 400px;
				padding: var(--Medium) var(--Medium) 0 var(--Medium);
				margin-bottom: 0;
				border-right: 4px solid var(--Tan);
			}

			&>div {
				width: 100%;
				padding: var(--Medium);

				@media(--phone) {
					width: 50%;
					padding: 0;
				}

				@media(--tablet) {
					width: auto;
				}
			}

			& h2 {
				margin: 0;
				font-size: 24px;
				color: var(--Blue);

				@media(--phone) {
					font-size: 32px;
				}
			}

			& p {
				color: var(--Blue);

				&:first-of-type {
					display: none;

					@media(--phone) {
						display: inline-block;
					}
				}
			}

			& a.button {
				margin: 0;
			}

			& img {
				display: block;
				object-fit: cover;
				object-position: center;
				width: 100%;
				height: 15vh;

				@media(--phone) {
					width: calc(50% - 16px);
					max-width: 100%;
					height: auto;
				}

				@media(--tablet) {
					width: calc(100% + 32px);
					max-width: calc(100% + 32px);
					margin: var(--Medium) 0 0 0;
					transform: translateX(-16px);
				}
			}
		}

		& .premium {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			padding: 0;
			text-align: center;
			background-color: var(--Black);
			order: 1;

			@media(--phone) {
				padding: var(--Medium);
				order: 2;
			}

			@media(--tablet) {
				display: block;
				width: 50%;
				max-width: 400px;
				padding: var(--Medium) var(--Medium) 0 var(--Medium);
				border-left: 4px solid var(--Tan);
			}

			&>div {
				width: 100%;
				padding: var(--Medium);

				@media(--phone) {
					order: 1;
					width: 50%;
					padding: 0;
				}

				@media(--tablet) {
					width: auto;
				}
			}

			& h2 {
				margin: 0;
				font-size: 24px;
				color: var(--White);

				@media(--phone) {
					font-size: 32px;
				}
			}

			& p {
				color: var(--White);

				&:first-of-type {
					display: none;

					@media(--phone) {
						display: inline-block;
					}
				}
			}

			& a.button {
				margin: 0;
			}

			& img {
				display: block;
				object-fit: cover;
				object-position: center;
				width: 100%;
				height: 15vh;

				@media(--phone) {
					width: calc(50% - 16px);
					max-width: 100%;
					height: auto;
				}

				@media(--tablet) {
					width: calc(100% + 32px);
					max-width: calc(100% + 32px);
					margin: var(--Medium) 0 0 0;
					transform: translateX(-16px);
				}
			}
		}
	}
}